<div id="signin">
    <div class="top-form" >
      <h5>Sign in</h5>
      <div class="signin-outer">
          <div class="alert alert-danger" *ngIf="errorMessage">
      
              <strong>{{ errorMessage }}</strong>
            </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <div class="main-form-row">
                
              <label>Username</label>
              <div class="form-group"

              >
                <input type="text" formControlName="username"
                   class="form-control"
                   placeholder="Username"

                >
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
                <span *ngIf="f.username.errors && f.username.dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <span *ngIf="!f.username.errors && f.username.dirty" class="glyphicon glyphicon-ok form-control-feedback"></span>

              </div>
            </div>
            <div class="main-form-row">
              <label>Password</label>
              <div class="form-group"
              >
                <input type="password" formControlName="password"
                   class="form-control"
                   placeholder="Password"
                >
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
                <span *ngIf="f.password.errors && f.password.dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <span *ngIf="!f.password.errors && f.password.dirty" class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
              <div class="forgot-pass-row">
                <ul class="form-tab">
                  <li><a href="#password">Forgot password ?</a></li>
                </ul>
              </div>
            </div>
            <div class="main-form-row">
              <button [disabled]="loading" class="form-submit-btn">Login</button>
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
        </form>

      </div>

    </div>
  </div>