
<div class="inner-main-sec">
  <div class="message-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <!--<div class="msg-top-box">
            <div class="msg-top-number">31</div>
            <a href="#"><i class="fa fa-envelope-o msg-top-envp"></i> Inbox</a> </div>-->
       <!--    <div class="msg-action-drop">
            <select name="color_scheme" id="color_scheme">
              <option>Action</option>
              <option value="select-all-img-msg">Select All</option>
              <option value="read">Mark As Read</option>
              <option value="delete">Delete</option>
            </select>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="msg-area-outer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="msg-area-inner" *ngFor="let msg of messageList">
            <div class="msg-area-row" *ngIf="msg.from_user._id === user_id">
              <div class="msg-user-img"><a href="#"><img [src]="msg.from_user.avatar" alt=""></a> </div>
              <div class="msg-text-outer">
                <div class="msg-text-row" >
                  <p>{{msg.message_text}}</p>
                  <div class="activity-list-img" *ngIf="msg.content">

                      <img [src]="msg.content" alt="" *ngIf="msg.content_type =='image'">

                      <video [src] = "msg.content"  *ngIf="msg.content_type =='video'" controls>Your browser does not support HTML5 video.</video>

                    </div>
                </div>

              </div>
            </div>
            <div class="msg-area-row msg-area-row-right" *ngIf="msg.from_user._id !== user_id">
                <div class="msg-user-img"><a href="#"><img [src]="msg.from_user.avatar" alt=""></a> </div>
              <div class="msg-text-outer">
                <div class="msg-text-row" >
                  <p>{{msg.message_text}}</p>
                </div>

              </div>
            </div>
          </div>
          <div class="msg-box-sec">
            <div class="msg-chat-type-sec">
              <textarea class="msg-type-textarea" placeholder="Whats in your mind..." [(ngModel)]="message_text"></textarea>
              <div class="msg-frnd-icon"><a href="#"><img src="assets/images/sml-plus-icon.png" alt=""></a></div>
              <div class="msg-frnd-icon"><a href="#"><img src="assets/images/usertimeline-icon-3.png" alt=""></a></div>
            </div>
            <button class="save-btn" (click)="submit_message()"><img src="assets/images/white-msg-icon.png" alt="" ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


