
<div class="inner-main-sec">
  <div class="message-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <!--<div class="msg-top-box">
            <div class="msg-top-number">31</div>
            <a href="#"><i class="fa fa-envelope-o msg-top-envp"></i> Inbox</a> </div>-->
          <div class="msg-action-drop">
            <select name="color_scheme" id="color_scheme">
              <option>Action</option>
              <option value="select-all-img-msg">Select All</option>
              <option value="read">Mark As Read</option>
              <option value="delete">Delete</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="msg-area-outer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="msg-area-inner">
            <div class="msg-area-row">
              <div class="msg-user-img"><a href="#"><img src="images/photo-image-1.jpg" alt=""></a> </div>
              <div class="msg-text-outer">
                <div class="msg-text-row">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conse</p>
                </div>
                <div class="msg-text-row">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
                <div class="msg-text-row">
                  <p>???</p>
                </div>
              </div>
            </div>
            <div class="msg-area-row msg-area-row-right">
              <div class="msg-text-outer">
                <div class="msg-text-row">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
                <div class="msg-text-row">
                  <p>?:))</p>
                </div>
              </div>
            </div>
            <div class="msg-area-row">
              <div class="msg-user-img"><a href="#"><img src="images/photo-image-1.jpg" alt=""></a> </div>
              <div class="msg-text-outer">
                <div class="msg-text-row">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
              </div>
            </div>
            <div class="msg-area-row msg-area-row-right">
              <div class="msg-text-outer">
                <div class="msg-text-row">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
                <div class="msg-text-row">
                  <p>ok</p>
                </div>
                <div class="msg-text-row">
                  <p>Lorem ipsum dolor</p>
                </div>
              </div>
            </div>
            <div class="msg-area-row">
              <div class="msg-user-img"><a href="#"><img src="images/photo-image-1.jpg" alt=""></a> </div>
              <div class="msg-text-outer">
                <div class="msg-text-row">
                  <p>thank ok</p>
                </div>
              </div>
            </div>
            <div class="msg-area-row msg-area-row-right">
              <div class="msg-text-outer">
                <div class="msg-text-row">
                  <p>bye</p>
                </div>
              </div>
            </div>
          </div>
          <div class="msg-box-sec">
            <div class="msg-chat-type-sec">
              <textarea class="msg-type-textarea" placeholder="Whats in your mind..."></textarea>
              <div class="msg-frnd-icon"><a href="#"><img src="images/sml-plus-icon.png" alt=""></a></div>
              <div class="msg-frnd-icon"><a href="#"><img src="images/usertimeline-icon-3.png" alt=""></a></div>
            </div>
            <button class="save-btn"><img src="images/white-msg-icon.png" alt=""></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


