<div class="general-tab-row">
  <label>Site language</label>
  <div *ngIf="errorMsg" class="alert alert-danger alert-dismissible" [ngClass]="{'fade out':closeAlert}"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{errorMsg}}</div>
  <div *ngIf="successMsg" class="alert alert-success alert-dismissible" [ngClass]="{'fade out':closeAlert1}"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{successMsg}}</div>
  <div class="general-dropdown">
    <select [(ngModel)]="language">
      <option value="en">English</option>
      <option value="fr">French</option>
      <option value="de">German</option>
      <option value="es">Spanish</option>
    </select>
  </div>
</div>
<div class="general-tab-row">
  <label>Time Zone</label>
  <div class="general-dropdown">
    <select [(ngModel)]="timezone">
      <option value="tz.label" *ngFor="let tz of timezones">{{tz.name}}</option>
      
    </select>
  </div>
</div>
<div class="general-tab-row">
  <label>Email</label>
  <div class="general-tick">
    <input type="text" class="general-tab-text" [(ngModel)]="email"  disabled>
  </div>
</div>
<div class="general-tab-row">
  <label>(Phone number is optional and will not be visible on your profile)</label>
  <div class="general-cross">
    <input type="number" class="general-tab-text" [(ngModel)]="mobile">
  </div>
</div>
<div class="general-tab-row">
  <input class="save-btn update-btn" value="Update" type="submit" (click)= "update()">
</div>
