<div class="general-tab-row">
  <label>Site language</label>
  <div class="alert alert-danger" *ngIf="errorMessage">

    <strong>{{ errorMessage }}</strong>
  </div>

  <div class="alert alert-success" *ngIf="successMessage">

      <strong>{{ successMessage }}</strong>
  </div>
  <div class="general-dropdown" style="position:unset !important;">

    <ng-select [items]="languages"
        bindLabel="language"
        [clearable]= 'false'
        bindValue="language"
        [(ngModel)]="language"
    >
    </ng-select>
  </div>
</div>
<div class="general-tab-row">
  <label>Time Zone</label>
  <div class="general-dropdown" style="position:unset !important;">

    <ng-select [items]="timezones"
        bindLabel="name"
        bindValue="label"
        [clearable]= 'false'
        [(ngModel)]="timezone"
    >
    </ng-select>
  </div>
</div>
<div class="general-tab-row">
  <label>Email</label>
  <div class="general-tick">
    <input type="text" class="general-tab-text" [(ngModel)]="email"  disabled>
  </div>
</div>
<div class="general-tab-row">
  <label>(Phone number is optional and will not be visible on your profile)</label>
  <div class="general-cross">
    <input type="number" class="general-tab-text" [(ngModel)]="mobile">
  </div>
</div>
<div class="general-tab-row">
  <input [disabled]="loading" class="save-btn update-btn" value="Update" type="submit" (click)= "update()">
  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</div>
