
<div class="inner-main-sec">
  <div class="message-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <!--<div class="msg-top-box">
            <div class="msg-top-number">31</div>
            <a href="#"><i class="fa fa-envelope-o msg-top-envp"></i> Inbox</a> </div>-->
          <div class='msg-top-box'> <span class='selected'></span> <span class='selectArrow'><img src="assets/images/downarrow.png" alt=""></span>
            <div class="selectOptions" > <span class="selectOption"><i class="fa fa-envelope-o msg-top-envp"></i>Inbox <sup class="msg-sup-num">31</sup></span> <span class="selectOption"><i class="fa fa-exclamation-triangle msg-top-envp"></i>Junk <sup class="msg-sup-num">10</sup></span> <span class="selectOption"><i class="fa fa-mail-forward msg-top-envp"></i> Sent <sup class="msg-sup-num">&nbsp;</sup></span> </div>
          </div>
          <div class="msg-action-drop">
            <select name="color_scheme" id="color_scheme">
              <option>Action</option>
              <option value="select-all-img-msg">Select All</option>
              <option value="read">Mark As Read</option>
              <option value="delete">Delete</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="message-bot">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul>
            <li *ngFor="let message of messageList">
              <div class="message-bot-row-top">
                <div class="msg-user-img"><a href="javascript:void(0)"><img src="{{message.to_user[0].avatar}}" alt=""></a>
                  <h5><a href="/user-timeline/{{message._id}}">{{message.to_user[0].username}}</a></h5>
                </div>
                <div class="msg-top-text">
                  <p><i class="fa fa-map-marker"></i><span>{{message.to_user[0].state}}, {{message.to_user[0].country}}</span></p>
                  <p><i class="fa fa-mars"></i><span>{{message.to_user[0].age}} {{message.to_user[0].sexuality}}</span></p>
                  
                  <p><a href="#">{{message.to_user[0].interested_in.toString()}}</a></p>
                </div>
              </div>
              <div class="msg-area">
                <p>{{message.message_text}}</p>
              </div>
              <div class="msg-date">28 March, 2018</div>
              <div class="msg-butn-area"> <a href="/message-chat/{{message._id}}"><i class="fa fa-envelope-o"></i> Answer</a> <a href="javascript:void(0)" class="msg-delete"><i class="fa fa-trash-o"></i>Delete</a> </div>
            </li>

          </ul>
          <div id="loadMore2" class="more-setting-outer">See More Messages</div>
        </div>
      </div>
    </div>
  </div>
</div>
