<div class="inner-main-sec">
  <div class="container">
    <div class="row latest-personal-detail-outer">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4><img src="assets/images/setting-icon.png" alt=""><span>Add at least personal details</span></h4>
        <div class="general-tab-top-outer">
          <ul class="form-tab-1">
            <li [ngClass]="{ 'pages_active': tab === 'tab1' }"><a [routerLink]="" (click)="displayTab('tab1')"><img src="assets/images/search-icon-1.png" alt=""> <span>Quick Search</span></a></li>
            <li [ngClass]="{ 'pages_active': tab === 'tab2' }"><a [routerLink]="" (click)="displayTab('tab2')"><img src="assets/images/online-icon.png" alt=""> <span>Advanced Search</span></a></li>
            <li [ngClass]="{ 'pages_active': tab === 'tab3' }"><a [routerLink]="" (click)="displayTab('tab3')"><img src="assets/images/search-icon-3.png" alt=""> <span>By Username</span></a></li>
          </ul>
        </div>
        <div class="search-detail-bot">
          <div id="tab1" [ngStyle]="{'display': tab === 'tab1' ? 'block' : 'none'}">
            <div class="search-detail-tab-row">
              <div class="personal-bigradio-sec">
                <label>I am / We are a</label>
                <div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="M" [(ngModel)]="gender" name="gendrs" type="radio">
                    <span class="personal-radio-title">Male</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="F" [(ngModel)]="gender" name="gendrs" type="radio">
                    <span class="personal-radio-title">Female </span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="C" [(ngModel)]="gender"  name="gendrs" type="radio">
                    <span class="personal-radio-title">Couple</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="O" [(ngModel)]="gender" name="gendrs" type="radio">
                    <span class="personal-radio-title">CD / TV / TS</span></div>
                </div>
              </div>
              <div class="personal-bigradio-sec">
                <label>looking for a</label>
                <div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="M" [(ngModel)]="looking_for_male" name="gendr" type="checkbox">
                    <span class="personal-radio-title">Male</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="F" [(ngModel)]="looking_for_female" name="gendr" type="checkbox">
                    <span class="personal-radio-title">Female </span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="C" [(ngModel)]="looking_for_couple" name="gendr" type="checkbox">
                    <span class="personal-radio-title">Couple</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="O" [(ngModel)]="looking_for_cd" name="gendr" type="checkbox">
                    <span class="personal-radio-title">CD / TV / TS</span></div>
                </div>
              </div>
           <!--    <div class="personal-bigradio-sec">
                <label>Only show profiles with</label>
                <div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="P" [(ngModel)]="show_profile" name="show" type="radio">
                    <span class="personal-radio-title">Photo</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="V" [(ngModel)]="show_profile" name="show"type="radio">
                    <span class="personal-radio-title">Video</span></div>
                </div>
              </div> -->
            </div>
            <div class="search-detail-tab-row">
              <div class="personal-detail-medium-box select-box">
                <label>Find people near a town</label>
                <ng-select [items]="distance_range"
                   [clearable]= 'false'
                    bindLabel="level"
                    bindValue="value"
                    [(ngModel)]="distance">
                 </ng-select>
              </div>
            </div>
            <div class="search-detail-tab-row">
              <label>By default we use the town in <a href="#">your profile</a></label>
              <div class="personal-detail-medium-box select-box">
                <ng-select [items]="country"
                [clearable]= 'false'
                bindLabel="name"
                bindValue="name"
                [(ngModel)]="count"
                (change)="onItemChange($event)">
               </ng-select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <ng-select [items]="states"
                [clearable]= 'false'
                bindLabel="st"
                bindValue="st"
                [(ngModel)]="st">
               </ng-select>
              </div>
            </div>
            <div class="search-detail-tab-row search-detail-tab-rowlst-row">
              <input type="submit" class="save-btn" value="Search" (click)="submit_quick_search()">
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
          </div>
          <div id="tab2" [ngStyle]="{'display': tab === 'tab2' ? 'block' : 'none'}">
            <div class="search-detail-tab-row">
              <div class="personal-bigradio-sec">
                <label>I am / We are a</label>
                <div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" [(ngModel)]="gender" name="gender" value="M" type="radio">
                    <span class="personal-radio-title">Male</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" [(ngModel)]="gender" value="F" name="gender" type="radio">
                    <span class="personal-radio-title">Female </span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" [(ngModel)]="gender" value="C" name="gender" type="radio">
                    <span class="personal-radio-title">Couple</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" [(ngModel)]="gender" value="O" name="gender" type="radio">
                    <span class="personal-radio-title">CD / TV / TS</span></div>
                </div>
              </div>
              <div class="personal-bigradio-sec">
                <label>looking for a</label>
                <div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="M" [(ngModel)]="looking_for_male" name="gendro" type="checkbox">
                    <span class="personal-radio-title">Male</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="F" [(ngModel)]="looking_for_female" name="gendro" type="checkbox">
                    <span class="personal-radio-title">Female </span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="C" [(ngModel)]="looking_for_couple" name="gendro" type="checkbox">
                    <span class="personal-radio-title">Couple</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="O" [(ngModel)]="looking_for_cd" name="gendro" type="checkbox">
                    <span class="personal-radio-title">CD / TV / TS</span></div>
                </div>
              </div>
             <!--  <div class="personal-bigradio-sec">
                <label>Only show profiles with</label>
                <div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="" type="radio">
                    <span class="personal-radio-title">Photo</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="" type="radio">
                    <span class="personal-radio-title">Video</span></div>
                </div>
              </div> -->
             <!--  <div class="personal-bigradio-sec search-fourth-item">
                <label>Only show people who are</label>
                <div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="" type="radio">
                    <span class="personal-radio-title">Have Fun </span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="" type="radio">
                    <span class="personal-radio-title">Promote A Paid Service</span></div>
                </div>
              </div> -->
            </div>
            <div class="search-detail-tab-row">
              <div class="personal-detail-medium-box select-box">
                <label>Find people near a town</label>
                <ng-select [items]="distance_range"
                [clearable]= 'false'
                 bindLabel="level"
                 bindValue="value"
                 [(ngModel)]="distance">
              </ng-select>
              </div>
            </div>
            <div class="search-detail-tab-row">
              <label>By default we use the town in <a href="#">your profile</a></label>
              <div class="personal-detail-medium-box select-box">
                <ng-select [items]="country"
                [clearable]= 'false'
                bindLabel="name"
                bindValue="name"
                [(ngModel)]="count"
                (change)="onItemChange($event)">
               </ng-select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <ng-select [items]="states"
                [clearable]= 'false'
                bindLabel="st"
                bindValue="st"
                [(ngModel)]="st">
               </ng-select>
              </div>
            </div>
         <!--    <div class="search-detail-tab-row">
              <label>Order profiles by</label>
              <div class="personal-radio-outer">
                <input class="personal-radio-btn" value="" type="radio">
                <span class="personal-radio-title">Most recently logged on </span></div>
              <div class="personal-radio-outer">
                <input class="personal-radio-btn" value="" type="radio">
                <span class="personal-radio-title">Newest profile</span></div>
              <div class="personal-radio-outer">
                <input class="personal-radio-btn" value="" type="radio">
                <span class="personal-radio-title">Most liked</span></div>
            </div> -->
            <div class="search-detail-tab-row">
              <div class="search-medium-search-outer select-box">
                <label>Ethnicity</label>
                <select name='eth_id' [(ngModel)]="ethnicity">
                    <option [value]="">Select Ethnicity</option>
                  <option [value]="opt._id" *ngFor="let opt of ethnicities">{{opt.name}}</option>
                </select>
              </div>
              <div class="search-medium-search-outer select-box">
                <label>Smoke</label>
                <select [(ngModel)]="smoke">
                  <option value="No">No</option>
                  <option value="Yes">Yes</option>
                  <option value="I will tell you later">I will tell you later</option>
                </select>
              </div>
              <div class="search-medium-search-outer select-box">
                <label>Safe sex</label>
                <select [(ngModel)]="safe_sex">
                  <option value="Always">Always</option>
                  <option value="Sometimes">Sometimes</option>
                  <option value="Never">Never</option>
                  <option value="I will tell you later">I will tell you later</option>
                </select>
              </div>
              <div class="search-medium-search-outer select-box">
                <label>Cock/Breast size</label>
                <select [(ngModel)]="size">
                  <option value="Small">Small</option>
                  <option value="Medium">Medium</option>
                  <option value="Large">Large</option>
                  <option value="Very large">Very large</option>
                  <option value="Prefer not to say">Prefer not to say</option>
                </select>
              </div>
              <div class="search-medium-search-outer select-box">
                <label>Build</label>
                <select name='build_id'  [(ngModel)]="build">
                  <option [value]="">Select Build</option>
                <option [value]="opt._id" *ngFor="let opt of builds">{{opt.name}}</option>
              </select>
              </div>
              <!--<div class="search-medium-search-outer select-box">
                <label>Ethnicity</label>
                <select>
                  <option>All</option>
                </select>
              </div>-->
            </div>
            <div class="search-detail-tab-row">
              <label>AGE</label>
              <div class="setting-sml-drop select-box"> <span class="personal-radio-title">From</span>
                <ng-select [items]="age_range"
           bindLabel="from_age"
           [clearable]= 'false'
           bindValue="from_age"
           [(ngModel)]="from_age">
    </ng-select>
              </div>
              <div class="setting-sml-drop select-box"> <span class="personal-radio-title">To</span>
                <ng-select [items]="age_range"
           bindLabel="to_age"
           [clearable]= 'false'
           bindValue="to_age"
           [(ngModel)]="to_age">
    </ng-select>
              </div>
            </div>
           <!--  <div class="search-detail-tab-row">
              <div class="personal-detail-medium-box select-box">
                <label>Verification level</label>
                <select>
                  <option>USA</option>
                </select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>Spoken language</label>
                <select>
                  <option>Tucson, Arizona</option>
                </select>
              </div>
            </div> -->
            <div class="search-detail-tab-row search-detail-tab-rowlst-row">
              <input class="save-btn" value="Search" type="submit" (click)="advance_search()">
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
          </div>
          <div id="tab3" [ngStyle]="{'display': tab === 'tab3' ? 'block' : 'none'}">
            <div class="search-detail-tab-row search-detail-tab-rowlst-row">
              <div class="search-user-input-outer">
                <label>Type Username Here</label>
                <input type="text" class="search-user-input" [(ngModel)]="username" placeholder="Username...">
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              </div>
            </div>
            <div class="search-detail-tab-row search-detail-tab-rowlst-row">
              <input type="submit" class="save-btn" value="Search" (click)="submit_username()">
            </div>
          </div>
          <ul>
            <li *ngFor="let opt of results">
              <div class="row" *ngIf= "quick">
                <div class="col-lg-9 col-md-12 col-sm-9 col-xs-12">
                  <div class="friends-sml-img">
                    <a href="/user-timeline/{{opt.user[0]._id}}"> <img [src]="opt.user[0].avatar" alt=""> </a>
                    
                    <div class="event-user-active">&nbsp;</div>
                  </div>
                  <div class="friends-sml-text">
                      <a href="/user-timeline/{{opt.user[0]._id}}"> <h6>{{opt.user[0].username}}</h6>
                    <p *ngIf="opt.user[0].gender=='C'"> <span><i class="fa fa-mars"></i> {{this.getAge(opt.user[0].mm +"/"+opt.user[0].dd +"/"+opt.user[0].yyyy )}} {{opt.user[0].sexuality}}</span> <span><i class="fa fa-venus"></i> {{this.getAge(opt.user[0].mm_female +"/"+opt.user[0].dd_female +"/"+opt.user[0].yyyy_female )}} {{opt.user[0].sexuality_female}}</span> </p>
                    <p *ngIf="opt.user[0].gender=='M'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.user[0].mm +"/"+opt.user[0].dd +"/"+opt.user[0].yyyy )}} {{opt.user[0].sexuality}}</span></p>
                    <p *ngIf="opt.user[0].gender=='F'">  <span><i class="fa fa-venus"></i> {{this.getAge(opt.user[0].mm +"/"+opt.user[0].dd +"/"+opt.user[0].yyyy )}} {{opt.user[0].sexuality}}</span> </p>
                    <p *ngIf="opt.user[0].gender=='O'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.user[0].mm +"/"+opt.user[0].dd +"/"+opt.user[0].yyyy )}} {{opt.user[0].sexuality}}</span> </p>
                  </a>
                  </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-3 col-xs-12">
                  <div class="friends-icon-sec" *ngIf="opt.friend_request.length === 0"> 
                    <a href="javascript:void(0)" class="friends-plus-icon" (click)="request_send($event, opt.user[0]._id)">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </a> 
                    <a href="javascript:void(0)" class="friends-envelop-icon">
                      <i class="fa fa-envelope-o"></i>
                    </a> 
                  </div>
                  <div class="friends-icon-sec" *ngIf="opt.friend_request.length > 0 && opt.friend_request[0].status === 0"> 
                    <a href="javascript:void(0)" class="friends-cross-icon" (click)="request_send($event, opt.user[0]._id)">
                      <i class="fa fa-close"></i>
                    </a> 
                    <a href="javascript:void(0)" class="friends-envelop-icon">
                      <i class="fa fa-envelope-o"></i>
                    </a> 
                  </div>
                </div>
              </div>
              
            </li>
            <li *ngIf="results.length=='0' && quick">
              <div class="alert alert-danger alert-dismissible">
                <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>No</strong> users found. Please try with different options.
              </div>
            </li>
          </ul>
        </div>

        

      </div>
    </div>
  </div>
</div>
