<div id="password">
  <div class="top-form">
    <h5>Password Reminder</h5>
    
    <div class="alert alert-danger" *ngIf="errorMessage">
      
      <strong>{{ errorMessage }}</strong>
    </div>

    <div class="alert alert-success" *ngIf="successMessage">
      
        <strong>{{ successMessage }}</strong>
      </div>
    <form [formGroup]="forgotForm" (ngSubmit)="onForgotSubmit()">
    <div class="main-form-row">

      <label>Username or Email </label>
      <div class="input-box">
          <input type="text" class="input-form"
            placeholder="John Doe/example@mail.com"
            formControlName="email"
            >
            <i *ngIf="forgotSubmitted && !forgotpassword.email.errors && forgotpassword.email.valid" class="fa fa-check" aria-hidden="true"></i>
            <i *ngIf="forgotSubmitted && forgotpassword.email.errors && forgotpassword.email.invalid" class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div *ngIf="forgotSubmitted && forgotpassword.email.errors" class="invalid-feedback">
            <span *ngIf="forgotpassword.email.errors.required">Email is required</span>
        </div>
        <div *ngIf="forgotSubmitted && forgotpassword.email.errors" class="invalid-feedback">
            <span *ngIf="forgotpassword.email.errors.email">Invalid email</span>
        </div>
      <div class="password-text">If you do not see an email from kinkypeople in your inbox<br>
       please read the <a href="#">following instructions</a> | <a href="#">Contact Us</a></div>
    </div>
    <div class="main-form-row">
      <input type="submit" class="form-submit-btn" value="Send Email" [disabled]="loading">
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
  </form>
    <div class="have-account-sec">
      <ul class="form-tab">
        <li class="pages_active"><a href="#signin">Have an account? <span>Click here</span></a></li>
      </ul>
    </div>
  </div>
</div>