<div class="general-tab-row">
  <h5>Your Interests</h5>
</div>
<div class="general-tab-row">
  <label>I am primarily looking for</label>
  <div>
    <div class="personal-radio-outer">
      <input class="personal-radio-btn" value="" name="lookingfor" type="radio">
      <span class="personal-radio-title">Male</span></div>
    <div class="personal-radio-outer">
      <input class="personal-radio-btn" value="" name="lookingfor" type="radio">
      <span class="personal-radio-title">Female</span></div>
    <div class="personal-radio-outer">
      <input class="personal-radio-btn" value="" name="lookingfor" type="radio">
      <span class="personal-radio-title">Couple</span></div>
    <div class="personal-radio-outer">
      <input class="personal-radio-btn" value="" name="lookingfor" type="radio">
      <span class="personal-radio-title">CD / TV / TS</span></div>
  </div>
</div>
<div class="general-tab-row">
  <label>Age Range</label>
  <div class="setting-sml-drop select-box">
    <select>
      <option>18</option>
    </select>
  </div>
  <div class="to">To</div>
  <div class="setting-sml-drop select-box">
    <select>
      <option>18</option>
    </select>
  </div>
</div>
<div class="general-tab-row">
  <label>Within</label>
  <div class="general-dropdown">
    <select>
      <option>10miles\16km</option>
    </select>
  </div>
</div>
<div class="general-tab-row">
  <label>Of</label>
  <div class="setting-medium-drop select-box">
    <select>
      <option>USA</option>
    </select>
  </div>
  <div class="setting-medium-drop setting-medium-drop-right select-box">
    <select>
      <option>Tucson, Arizona</option>
    </select>
  </div>
</div>
<div class="general-tab-row">
  <label>Prevent contact from members who</label>
</div>
<div class="general-tab-row">
  <div class="personal-full-with-area">
    <input class="personal-radio-btn" value="" name="contactmember" type="radio">
    <span class="personal-radio-title"><strong>Don't match my interests</strong></span> </div>
  <div class="personal-full-with-area">
    <input class="personal-radio-btn" value="" name="contactmember" type="radio">
    <span class="personal-radio-title"><strong>Live in another country</strong></span> </div>
  <div class="personal-full-with-area">
    <input class="personal-radio-btn" value="" name="contactmember" type="radio">
    <span class="personal-radio-title"><strong>Offer Paid Services</strong></span> </div>
</div>
<!--<div class="general-tab-row">
  <input class="save-btn update-btn" value="Update" type="submit">
</div>-->
<div class="general-tab-row">
  <label>Site Appearance</label>
</div>
<div class="general-tab-row">
  <div class="personal-full-with-area">
    <input class="personal-radio-btn" value="" type="radio" checked>
    <span class="personal-radio-title"><strong>Allow explicit content</strong></span> </div>
</div>
<div class="general-tab-row">
  <input class="save-btn update-btn" value="Update" type="submit">
</div>
