<div class="general-tab-row">
  <h5>Your Interests</h5>
</div>
<div class="general-tab-row">

  <label>I am primarily looking for</label>
  <div class="alert alert-danger" *ngIf="errorMessage">

    <strong>{{ errorMessage }}</strong>
  </div>

  <div class="alert alert-success" *ngIf="successMessage">

      <strong>{{ successMessage }}</strong>
  </div>
  <div>
     <!--  <ul>
        <li *ngFor="let n of looking_for_arr" [ngClass]="{'detail-active':(testArr.indexOf(n) > -1)}">
            <a href="javascript:void(0)" (click)="setClasslookingfor($event)">{{n}}</a>
        </li>
    </ul> -->
    <div class="personal-radio-outer">
      <input class="personal-radio-btn" [(ngModel)]="looking_for_male" name="lookingfor" type="checkbox">
      <span class="personal-radio-title">Male</span></div>
    <div class="personal-radio-outer">
      <input class="personal-radio-btn" [(ngModel)]="looking_for_female" name="lookingfor" type="checkbox">
      <span class="personal-radio-title">Female</span></div>
    <div class="personal-radio-outer">
      <input class="personal-radio-btn" [(ngModel)]="looking_for_couple" name="lookingfor" type="checkbox">
      <span class="personal-radio-title">Couple</span></div>
    <div class="personal-radio-outer">
      <input class="personal-radio-btn" [(ngModel)]="looking_for_cd" name="lookingfor" type="checkbox">
      <span class="personal-radio-title">CD / TV / TS</span></div>
  </div>
</div>
<div class="general-tab-row">
  <label>Age Range</label>
  <div class="setting-sml-drop select-box">

    <ng-select [items]="age_range"
           bindLabel="from_age"
           [clearable]= 'false'
           bindValue="from_age"
           [(ngModel)]="from_age">
    </ng-select>
  </div>
  <div class="to">To</div>
  <div class="setting-sml-drop select-box">

    <ng-select [items]="age_range"
           bindLabel="to_age"
           [clearable]= 'false'
           bindValue="to_age"
           [(ngModel)]="to_age">
    </ng-select>
  </div>
</div>
<div class="general-tab-row">
  <label>Within</label>
  <div class="general-dropdown" style="position:unset !important;">
    <!--<select [(ngModel)]="distance">
      <option value="d" *ngFor ="let d of distance_range">{{d}} miles</option>
    </select>-->
    <ng-select [items]="distance_range"
           bindLabel="level"
           [clearable]= 'false'
           bindValue="value"
           [(ngModel)]="distance">
    </ng-select>
  </div>
</div>
<div class="general-tab-row">
  <label>Of</label>
  <div class="setting-medium-drop select-box">

    <ng-select [items]="country"
        bindLabel="name"
        bindValue="name"
        [clearable]= 'false'
        [(ngModel)]="count"
        (change)="onItemChange($event)">
    </ng-select>
  </div>
  <div class="setting-medium-drop setting-medium-drop-right select-box">

    <ng-select [items]="states"
        bindLabel="st"
        [clearable]= 'false'
        bindValue="st"
        [(ngModel)]="st">
    </ng-select>
  </div>
</div>
<div class="general-tab-row">
  <label>Prevent contact from members who</label>
</div>
<div class="general-tab-row">
   <div class="personal-full-with-area">
    <input class="personal-radio-btn" name="member" [(ngModel)]="interest_match" type="checkbox">
    <span class="personal-radio-title"><strong>Don't match my interests</strong></span> </div>
  <div class="personal-full-with-area">
    <input class="personal-radio-btn"  name="member" [(ngModel)]="live_country" type="checkbox">
    <span class="personal-radio-title"><strong>Live in another country</strong></span> </div>
   <!--  <ul>
      <li *ngFor="let n of members_arr" [ngClass]="{'detail-active':(testArr1.indexOf(n) > -1)}">
          <a href="javascript:void(0)" (click)="setClassmembers($event)">{{n}}</a>
      </li>
  </ul> -->

<div class="general-tab-row">
  <label>Site Appearance</label>
</div>
<div class="general-tab-row">
  <div class="personal-full-with-area">
    <input class="personal-radio-btn" [(ngModel)]="explicit_content" type="checkbox">
    <span class="personal-radio-title"><strong>Allow explicit content</strong></span> </div>
</div>
<div class="general-tab-row">
  <input [disabled]="loading" class="save-btn update-btn" value="Update" type="submit" (click)="update(looking_for_male,looking_for_female,looking_for_couple,looking_for_cd,from_age,to_age,distance,count,st,interest_match,live_country,explicit_content)">
  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</div>
