<div class="inner-main-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="profile-left-top-box">
          <div class="profile-left-active">
            {{active_status ? 'Active Now': 'Inactive Now'}}
          </div>
          <div class="profile-left-details-box">
            <div class="profile-left-img">
              <div class="box-circle hidden-xxs">
                <div class="progress-circle progress-{{perscent}}"><span><img [src]="avatar" alt=""></span> </div>
              </div>
              <p><strong>{{perscent}}%</strong> Matched</p>
            </div>
            <div class="profile-top-text">
              <h5><a href="#">{{username}}</a></h5>
              <p><i class="fa fa-map-marker"></i>{{address}}</p>
               <p *ngIf="gender=='M'"><i class="fa fa-mars"></i>Male,{{age }}</p>
               <p *ngIf="gender=='O'"><i class="fa fa-mars"></i>CD/TV/TS,{{age }}</p>
              <p *ngIf="gender=='F'"><i class="fa fa-venus"></i>Female,{{age}}</p>
              <p *ngIf="gender=='C'"><i class="fa fa-venus-mars" aria-hidden="true"></i>Male,Female,{{age}},{{age_female}}</p>
              <p><a href="javascript:void(0)">Reviews 0</a> <strong>|</strong> <a href="javascript:void(0)" *ngIf="email_verified"><span>Email Verified</span></a>
                <a href="javascript:void(0)" *ngIf="!email_verified"><span style="color:#872345 !important;">Email
                    Unverified</span></a></p>
              <p><em>Seeking {{this.seeking_for}}</em></p>
              <p><a href="javascript:void(0)">{{interested_in}}</a></p>
              <div class="user-timeline-topleft-icon">
                <ul>
                  <li *ngIf="from_users.length=== 0 && to_users.length===0"  ><a href="javascript:void(0)" (click)="request_send($event,userid)" class="user-timeline-left-icon-1">&nbsp;</a></li>
                  <li *ngIf="from_users.length!== 0 || to_users.length!==0"><a href="javascript:void(0)"  (click)="request_send($event,userid)" class="user-timeline-left-icon-0">&nbsp;</a></li>
                  <li><a href="javascript:void(0)"(click)="saveTohotlist($event)" class="user-timeline-left-icon-2">&nbsp;</a></li>
                  <li><a href="javascript:void(0)" class="user-timeline-left-icon-3 profile-more-btn">&nbsp;</a></li>
                </ul>
              </div>
            </div>
            <div class="profile-more-box">
              <h5>Personal Details</h5>
             <ul [ngClass]="gender=='C' ? 'profile-more-box-list-33' : 'profile-more-box-list-50'">
                <li>Gender</li>
                <li *ngIf="gender=='M'">Male</li>
                <li *ngIf="gender=='F'">Female</li>
                <li *ngIf="gender=='C'">Male</li>
                <li *ngIf="gender=='O'">CD/TV/TS</li>
                <li *ngIf="gender=='C'">Female</li>


                <li>Seeking</li>
                <li> {{seeking_for}} </li>
                <li *ngIf="gender=='C'"> {{seeking_for}}</li>
                <li>Age</li>
                <li>{{age}}</li>
                <li *ngIf="gender=='C'">{{age_female}}</li>
                <li>Sexuality</li>
                <li>{{sexuality}}</li>
                <li *ngIf="gender=='C'">{{sexuality_female}}</li>
                <li>Location</li>
                <li>{{address}}</li>
                <li *ngIf="gender=='C'">{{address}}</li>
                <li>Height</li>
                <li>{{height}}</li>
                <li *ngIf="gender=='C'">{{height_female}}</li>
                <li>Build</li>
                <li>{{build}}</li>
                <li *ngIf="gender=='C'">{{build_female}}</li>
                <li>Hair</li>
                <li>{{hair}}</li>
                <li *ngIf="gender=='C'">{{hair_female}}</li>
                <li>Body decoration</li>
                <li>{{body_decoration}}</li>
                <li *ngIf="gender=='C'">{{body_decoration_female}}</li>
                <li>Drink</li>
                <li>{{drink}}</li>
                <li *ngIf="gender=='C'">{{drink_female}}</li>
                <li>Smoke</li>
                <li>{{smoke}}</li>
                <li *ngIf="gender=='C'">{{smoke_female}}</li>
                <li>Drugs</li>
                <li>{{drugs}}</li>
                <li *ngIf="gender=='C'">{{drugs_female}}</li>
                <li>Cock/Breast size</li>
                <li>{{size}}</li>
                <li *ngIf="gender=='C'">{{size_female}}</li>
                <li>Travel</li>
                <li>{{travel_arrangements}}</li>
                <li *ngIf="gender=='C'">{{travel_arrangements}}</li>
<!--                 <li>Paid Services</li>
                <li *ngIf="purpose=='HAVEFUN'">No </li>
                <li *ngIf="purpose!='HAVEFUN'">Yes </li>

                <li *ngIf="purpose=='HAVEFUN' && gender=='C'">No </li>
                <li *ngIf="purpose!='HAVEFUN' && gender=='C'">Yes </li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="profile-left-text-box">
          <h4>{{headline}}</h4>
          <p [innerHTML]="description"></p>
          <p><a href="javascript:void(0)" (click)="like($event)" class="user-timeline-like-icon" ><span>{{likes}} Likes</span></a></p>
        </div>
        <div class="profile-left-form-sec">
          <div class="profile-form-row">
            <div class="profile-input-outer user-timeline-textinput-left">
              <input class="profile-input-text" placeholder="Message Text..." type="text">
            </div>
          </div>
          <div class="profile-form-row">
            <button class="user-timeline-left-btn user-chat-btn"><img src="assets/images/usertimeline-icon-1.png" alt=""><span>Chat</span></button>
            <button class="user-timeline-left-btn user-review-btn"><img src="assets/images/usertimeline-icon-2.png" alt=""><span>My Friends</span></button>
            <button class="user-timeline-left-btn user-review-btn"><img src="assets/images/usertimeline-icon-2.png" alt=""><span>Review</span></button>
            <button class="user-timeline-left-btn"><img src="assets/images/usertimeline-icon-3.png" alt=""></button>
            <button class="user-timeline-left-btn"><img src="assets/images/usertimeline-icon-4.png" alt=""></button>
            <button class="save-btn usertimeline-send-btn">Send Message</button>
          </div>
          <div class="profile-form-row">
            <!--<button class="user-timeline-big-btn"><img src="assets/images/profile-btn-icon-2.png" alt=""><span>Content</span></button>
            <button class="user-timeline-big-btn"><img src="assets/images/profile-btn-icon-3.png" alt=""><span>assets/images</span></button>-->
            <div class="user-timeline-big-btn">
              <select>
                <option>Content</option>
                <option>Safe content only</option>
                <option>All including explicit</option>
              </select>
            </div>
            <div class="user-timeline-big-btn">
              <select>
                <option>assets/images</option>
                <option>Large assets/images</option>
                <option>Thumbnails only</option>
              </select>
            </div>
          </div>
        </div>
        <div class="profile-post-sec">
          <div class="profile-post-row">
            <ul>
              <li *ngFor="let opt of post_result| orderBy: order :reverse">
                <div class="profile-post-img"><img [src]="opt.user.avatar" alt=""></div>
                <div class="profile-post-text">
                  <div class="prof-text-top">
                    <h6><a href="#">{{opt.user.username}}</a></h6>
                    <p>{{opt.description}}</p>
                   <!--  <p><a href="#">lola_kemiron</a> likes your profile</p> -->
                    <div class="activity-list-img" *ngIf="opt.content">
                      <img [src]="opt.content" alt="" *ngIf="opt.content_type =='image'">
                      <video [src] = "opt.content"  *ngIf="opt.content_type =='video'" controls>Your browser does not support HTML5 video.</video>

                    </div>
                  </div>
                  <div *ngIf="opt.user._id == current_id" class="prof-text-bot">
                    <a href="javascript:void(0)" class="prof-like {{opt.like_class}}"> <span>{{opt.like_count}}
                      likes</span></a> <a href="javascript:void(0)" class="prof-comment " ><i class="fa fa-keyboard-o" aria-hidden="true"></i>
                    <span (click)="showcom(opt.comments.length)">{{opt.comments.length !=0 ? opt.comments.length:'' }} Comment</span></a> <span class="prof-date">{{opt.add_time | timeAgo}}</span> </div>
                <div *ngIf="opt.user._id != current_id" class="prof-text-bot"> <a href="javascript:void(0)" class="prof-like {{opt.like_class}}" (click)="like_post(opt._id, opt.index, opt.like_class)"> <span>{{opt.like_count}}
                      likes</span></a> <a href="javascript:void(0)" class="prof-comment " ><i class="fa fa-keyboard-o" aria-hidden="true"></i>
                    <span (click)="showcom(opt.comments.length)">{{opt.comments.length !=0 ? opt.comments.length:'' }} Comment</span></a> <span class="prof-date">{{opt.add_time | timeAgo}}</span> </div>
                </div>
                <ul *ngIf="showComment">
                  <li *ngFor="let comment of opt.comments">
                    <div class="profile-post-img"><img src="{{comment.comments_by.avatar}}" alt=""></div>
                    <div class="profile-post-text">
                      <div class="prof-text-top">
                        <h6><a href="javascript:void(0)">{{comment.comments_by.username}}</a></h6>
                        <p>{{comment.comment_text}} </p>
                      </div>
                      <div class="prof-text-bot"><span class="prof-date">{{comment.add_time | timeAgo}}</span></div>
                    </div>
                  </li>
                </ul>
                <div class="profile-comment-box" *ngIf="opt.user._id != current_id">
                  <div class="profile-comment-img"><img [src]="imageSrc" alt=""></div>
                  <div class="profile-input-outer">
                    <input class="profile-input-text" placeholder="Whats in your mind..." type="text" (keydown)="onKey($event,opt._id)">
                    <!-- <a href="#"><img src="assets/images/sml-plus-icon.png" alt=""></a> --> <a href="#"><img src="assets/images/smily-icon.png"
                        alt=""></a> </div>
                </div>
              </li>
            </ul>
          </div>
          <p><a href="#" class="form-submit-btn loadmore-btn" id="loadMore-profile">Load More</a></p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="photo-row photo-row1 usertimeline-photo-vid-sec all-upload-video-section">
          <!--<div class="downarrow-mobile downarrow-mobile1"><a href="javascript:void(0)"><i class="fa fa-caret-down" aria-hidden="true"></i></a></div>-->
          <h4><img src="assets/images/photo-icon-1.png" alt=""><span>Photos &amp; Videos</span></h4>
          <ul class="photo_video_show">
           <li *ngFor="let img of publicImages;"><img [src]="img.url" [alt]="img.altTag" ></li>
            <li *ngFor="let f of publicvideos | filterBy :{access: 'public'}"><video [src] = "f.url"  controls>Your browser does not support HTML5 video.</video></li>
          </ul>
        </div>
        <div class="similar-prof-sec">
          <h5><img src="assets/images/profile-icon.png" alt=""><span>Similar Profiles</span></h5>
          <ul>
            <li *ngFor="let user of similarUsers | slice:0:10; let i=index">
              <a href="/user-timeline/{{user._id}}">
              <div class="similar-prof-img"><img [src]="user.avatar" alt="">
                <div class="event-user-active">&nbsp;</div>
              </div>
              <p>{{user.username}}</p>
            </a>
            </li>
          </ul>
        </div>
        <div class="profile-review-sec">
          <h5><img src="assets/images/star-icon.png" alt=""><span>Reviews</span></h5>
          <ul>
            <li>
              <div class="profile-post-img"><img src="assets/images/event-pic-6.jpg" alt="">
                <div class="event-user-active">&nbsp;</div>
              </div>
              <div class="profile-post-text">
                <div class="prof-text-top">
                  <h6><a href="#">lola_kemiron</a></h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
              </div>
              <div class="useracitivity-date">20 Mart</div>
            </li>
          </ul>
        </div>
        <div class="profile-left-form-sec">
          <div class="profile-form-row">
            <div class="profile-input-outer user-timeline-textinput">
              <input class="profile-input-text" placeholder="Have you meet? Leave a review..." type="text">
            </div>
            <input class="save-btn profile-input-btn" value="Post" type="text">
          </div>
        </div>
        <div class="friends-tab-content profile-right-friends-sec">
          <h5><i class="fa fa-handshake-o"></i> <span>Friends</span></h5>
          <ul>
            <li *ngFor="let opt of friend_list |slice:0: show let i=index">
              <div class="row" *ngIf="opt.from_user.username && opt.from_user._id != session_id">
                <div class="col-lg-9 col-md-12 col-sm-9 col-xs-12" >
                  <ng-container *ngIf=" current_id == opt.from_user._id ; else internalBlock">
                    <a href="/my-profile">
                      <div class="friends-sml-img"><img [src]="opt.from_user.avatar" alt="">
                        <div class="event-user-active">&nbsp;</div>
                      </div>
                      <div class="friends-sml-text">
                        <h6>{{opt.from_user.username}}</h6>
                        <p *ngIf="opt.from_user.gender=='C'"> <span><i class="fa fa-mars"></i> {{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality}}</span> <span><i class="fa fa-venus"></i> {{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality_female}}</span> </p>
                          <p *ngIf="opt.from_user.gender=='M'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality}}</span></p>
                          <p *ngIf="opt.from_user.gender=='F'">  <span><i class="fa fa-venus"></i> {{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality}}</span> </p>
                          <p *ngIf="opt.from_user.gender=='O'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality}}</span> </p>
                      </div>
                      </a>
                    </ng-container>

                    <ng-template #internalBlock>
                      <a href="/user-timeline/{{opt.from_user._id}}">
                        <div class="friends-sml-img"><img [src]="opt.from_user.avatar" alt="">
                          <div class="event-user-active">&nbsp;</div>
                        </div>
                        <div class="friends-sml-text">
                          <h6>{{opt.from_user.username}}</h6>
                          <p *ngIf="opt.from_user.gender=='C'"> <span><i class="fa fa-mars"></i> {{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality}}</span> <span><i class="fa fa-venus"></i> {{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality_female}}</span> </p>
                            <p *ngIf="opt.from_user.gender=='M'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality}}</span></p>
                            <p *ngIf="opt.from_user.gender=='F'">  <span><i class="fa fa-venus"></i> {{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality}}</span> </p>
                            <p *ngIf="opt.from_user.gender=='O'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality}}</span> </p>
                        </div>
                        </a>
                    </ng-template>
                </div>
                <!-- <div class="col-lg-3 col-md-12 col-sm-3 col-xs-12">
                  <div class="friends-icon-sec"> <a href="javascript:void(0)" (click)="friend_remove(opt.from_user._id)" class="friends-cross-icon"><i class="fa fa-close"></i></a> <a href="javascript:void(0)" class="friends-envelop-icon"><i class="fa fa-envelope-o"></i></a> </div>
                </div> -->
              </div>
              <div class="row" *ngIf="opt.to_user.username && opt.to_user._id != session_id">
                  <div class="col-lg-9 col-md-12 col-sm-9 col-xs-12" >
                    <!--   <a href="/user-timeline/{{opt.to_user._id}}">
                    <div class="friends-sml-img"><img [src]="opt.to_user.avatar" alt="">
                      <div class="event-user-active">&nbsp;</div>
                    </div>
                    <div class="friends-sml-text">
                      <h6>{{opt.to_user.username}}</h6>
                      <p *ngIf="opt.to_user.gender=='C'"> <span><i class="fa fa-mars"></i> {{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span> <span><i class="fa fa-venus"></i> {{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality_female}}</span> </p>
                        <p *ngIf="opt.to_user.gender=='M'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span></p>
                        <p *ngIf="opt.to_user.gender=='F'">  <span><i class="fa fa-venus"></i> {{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span> </p>
                        <p *ngIf="opt.to_user.gender=='O'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span> </p>
                    </div>
                    </a> -->
                    <ng-container *ngIf=" current_id == opt.to_user._id; else internalBlock">
                      <a href="/my-profile">
                        <div class="friends-sml-img"><img [src]="opt.to_user.avatar" alt="">
                          <div class="event-user-active">&nbsp;</div>
                        </div>
                        <div class="friends-sml-text">
                          <h6>{{opt.to_user.username}}</h6>
                          <p *ngIf="opt.to_user.gender=='C'"> <span><i class="fa fa-mars"></i> {{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span> <span><i class="fa fa-venus"></i> {{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality_female}}</span> </p>
                            <p *ngIf="opt.to_user.gender=='M'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span></p>
                            <p *ngIf="opt.to_user.gender=='F'">  <span><i class="fa fa-venus"></i> {{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span> </p>
                            <p *ngIf="opt.to_user.gender=='O'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span> </p>
                        </div>
                        </a>
                      </ng-container>

                      <ng-template #internalBlock>
                        <a href="/user-timeline/{{opt.to_user._id}}">
                          <div class="friends-sml-img"><img [src]="opt.to_user.avatar" alt="">
                            <div class="event-user-active">&nbsp;</div>
                          </div>
                          <div class="friends-sml-text">
                            <h6>{{opt.to_user.username}}</h6>
                            <p *ngIf="opt.to_user.gender=='C'"> <span><i class="fa fa-mars"></i> {{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span> <span><i class="fa fa-venus"></i> {{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality_female}}</span> </p>
                              <p *ngIf="opt.to_user.gender=='M'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span></p>
                              <p *ngIf="opt.to_user.gender=='F'">  <span><i class="fa fa-venus"></i> {{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span> </p>
                              <p *ngIf="opt.to_user.gender=='O'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span> </p>
                          </div>
                          </a>
                      </ng-template>
                  </div>
                  <!-- <div class="col-lg-3 col-md-12 col-sm-3 col-xs-12">
                    <div class="friends-icon-sec"> <a href="javascript:void(0)" (click)="friend_remove(opt.to_user._id)" class="friends-cross-icon"><i class="fa fa-close"></i></a> <a href="javascript:void(0)" class="friends-envelop-icon"><i class="fa fa-envelope-o"></i></a> </div>
                  </div> -->
                </div>
              <div id="loadMore2" class="more-setting-outer"  *ngIf="i==5 && show == 6" (click)="show = friend_list.length">More</div>
            </li>
          </ul>
        </div>
        <div class="profile-hotlist-sec">
          <h5><i class="fa fa-heart-o"></i> <span>Hotlist</span></h5>
          <ul>
              <li *ngFor="let opt of hot_list">
                  <a href="/user-timeline/{{opt._id}}">
                <div class="hotlist-box">
                  <div class="friends-sml-img"><a href="javascript:void(0)"><img [src]="opt.avatar" alt=""></a>
                    <div class="event-user-active">&nbsp;</div>
                  </div>
                  <div class="friends-sml-text online-user-sml-text">
                    <h6><a href="javascript:void(0)">{{opt.username}}</a></h6>
                    <p *ngIf="opt.gender=='C'"> <span><i class="fa fa-mars"></i> {{this.getAge(opt.mm +"/"+opt.dd +"/"+opt.yyyy )}} {{opt.sexuality}}</span> <span><i class="fa fa-venus"></i> {{this.getAge(opt.mm +"/"+opt.dd +"/"+opt.yyyy )}} {{opt.sexuality_female}}</span> </p>
                        <p *ngIf="opt.gender=='M'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.mm +"/"+opt.dd +"/"+opt.yyyy )}} {{opt.sexuality}}</span></p>
                        <p *ngIf="opt.gender=='F'">  <span><i class="fa fa-venus"></i> {{this.getAge(opt.mm +"/"+opt.dd +"/"+opt.yyyy )}} {{opt.sexuality}}</span> </p>
                        <p *ngIf="opt.gender=='O'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.mm +"/"+opt.dd +"/"+opt.yyyy )}} {{opt.sexuality}}</span> </p>
                  </div>
                  <div class="friends-icon-sec online-user-icon-sec"> <a href="#" class="friends-envelop-icon"><i class="fa fa-envelope-o"></i></a>
                    <a href="#" class="friends-cross-icon"><i class="fa fa-heart"></i></a> </div>
                </div>
            <!--     <div class="hotlist-box">
                  <div class="friends-sml-img"><a href="#"><img src="assets/images/photo-image-1.jpg" alt=""></a>
                    <div class="event-user-active">&nbsp;</div>
                  </div>
                  <div class="friends-sml-text online-user-sml-text">
                    <h6><a href="#">Patrick</a></h6>
                    <p> <span><i class="fa fa-mars"></i> 31 Straight</span></p>
                    <p><span><i class="fa fa-venus"></i> 25 Bi-Cerius</span> </p>
                  </div>
                  <div class="friends-icon-sec online-user-icon-sec"> <a href="#" class="friends-envelop-icon"><i class="fa fa-envelope-o"></i></a>
                    <a href="#" class="friends-cross-icon"><i class="fa fa-heart"></i></a> </div>
                </div> -->
                </a>
              </li>

          </ul>
          <!-- <div id="loadMore3" class="more-setting-outer">More</div> -->
        </div>
        <div class="profile-review-sec">
          <h5><img src="assets/images/event-icon.png" alt=""><span>1 Meet-ups</span></h5>
          <ul>
            <li>
              <div class="profile-post-img"><img src="assets/images/photo-sliding-img.jpg" alt="">
                <div class="event-user-active">&nbsp;</div>
              </div>
              <div class="profile-post-text">
                <div class="prof-text-top">
                  <h6><a href="#">Shogunpro125 </a></h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
              </div>
              <div class="useracitivity-date">20 Mart</div>
            </li>
          </ul>
        </div>

