<div class="inner-main-sec">
  <div class="container">
    <div class="row latest-personal-detail-outer">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4><img src="/assets/images/setting-icon.png" alt=""><span>Add at least personal details</span></h4>
        <div class="alert alert-success" *ngIf="successMessage">

          <strong>{{ successMessage }}</strong>
        </div>
        <div class="latest-personal-details-tab-top">
          <ul class="form-tab-1">
            <li [ngClass]="{ 'pages_active': tab === 'tab1' }"><a [routerLink]="" (click)="displayTab('tab1')">My Details</a></li>
            <li [ngClass]="{ 'pages_active': tab === 'tab2' }"><a [routerLink]="" (click)="displayTab('tab2')">About Me</a></li>
          </ul>
        </div>

        <div class="latest-personal-details-tab-bot">
          <div id="tab1" [ngStyle]="{'display': tab === 'tab1' ? 'block' : 'none'}">
            <div class="personal-detail-tab-row">
              <div class="personal-detail-medium-box select-box">

                <label>Location</label>

                <ng-select [items]="countrys"
                        bindLabel="name"
                        bindValue="name"
                        [(ngModel)]="country"
                        (change)="onItemChange($event)">
                </ng-select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>&nbsp;</label>

                <ng-select [items]="states"
                        bindLabel="state"
                        bindValue="state"
                        [(ngModel)]="state">
                </ng-select>
              </div>
              <div class="personal-detail-big-box select-box">
                <label>Time Zone</label>
                <select [(ngModel)]="data.timezone">
                <option [value]="">Select Timezone</option>
               <option [value]="tz.label" *ngFor="let tz of timezones">{{tz.name}}</option>
              </select>
              </div>
            </div>
            <div class="personal-detail-tab-row">
              <div class="personal-bigradio-sec">
                <label>I am primarily looking for</label>
                <div>
                    <ul>
                      <li *ngFor="let n of looking_for_arr" [ngClass]="{'detail-active':(testArr3.indexOf(n) > -1)}">
                          <a href="javascript:void(0)" (click)="setClasslookingfor($event)">{{n}}</a>
                      </li>
                  </ul>

                </div>
              </div>
              <div class="personal-bigradio-sec">
                <label>Gender</label>
                <div>
                  <div class="personal-radio-outer">
                <div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="M" [(ngModel)]="data.gender" name="gender1" type="radio" [checked]="data.gender =='M'">
                    <span class="personal-radio-title">Male</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="F" [(ngModel)]="data.gender" name="gender1" type="radio" [checked]="data.gender =='F'">
                    <span class="personal-radio-title">Female</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="C" [(ngModel)]="data.gender" name="gender1" type="radio" [checked]="data.gender =='C'">
                    <span class="personal-radio-title">Couple</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="O" [(ngModel)]="data.gender" name="gender1" type="radio" [checked]="data.gender =='O'">
                    <span class="personal-radio-title">CD / TV / TS</span></div>
                </div>
                </div>
              </div>
            </div>
            <div class="personal-detail-tab-row">
              <div class="personal-bigradio-sec">
                <div>
                  <div class="personal-detail-sml-box select-box">
                    <label>Date of birth</label>
                    <select [(ngModel)]="data.dd">
                      <option [value]="d" *ngFor="let d of day">{{d}}</option>
                    </select>
                  </div>
                  <div class="personal-detail-sml-box select-box">
                    <label>&nbsp;</label>
                    <select [(ngModel)]="data.mm">
                      <option [value]="m" *ngFor="let m of month">{{m}}</option>
                    </select>
                  </div>
                  <div class="personal-detail-sml-box select-box">
                    <label>&nbsp;</label>
                    <select [(ngModel)]="data.yyyy">
                      <option [value]="y" *ngFor="let y of year">{{y}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="personal-bigradio-sec">
                <label>Sexuality</label>
                <div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" name="sexuality" [(ngModel)]="data.sexuality" value="Straight" type="radio">
                    <span class="personal-radio-title">Straight</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" name="sexuality" [(ngModel)]="data.sexuality" value="Gay" type="radio">
                    <span class="personal-radio-title">Gay</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" name="sexuality" [(ngModel)]="data.sexuality" value="Bi" type="radio">
                    <span class="personal-radio-title">Bi</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" name="sexuality" [(ngModel)]="data.sexuality" value="Bicurious" type="radio">
                    <span class="personal-radio-title">Bi-curious</span></div>
                </div>
              </div>
            </div>
            <div class="personal-detail-tab-row">
              <div class="personal-detail-medium-box select-box">
                <label>Ethnicity</label>
                 <select name='eth_id' [(ngModel)]="data.ethnicity">
                    <option [value]="">Select Ethnicity</option>
                  <option [value]="opt._id" *ngFor="let opt of ethnicities">{{opt.name}}</option>
                </select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>Height</label>
                <select name='height_id'  [(ngModel)]="data.height">
                    <option [value]="">Select Height</option>
                  <option [value]="opt._id" *ngFor="let opt of heights">{{opt.name}}</option>
                </select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>Build</label>
                 <select name='build_id'  [(ngModel)]="data.build">
                    <option [value]="">Select Build</option>
                  <option [value]="opt._id" *ngFor="let opt of builds">{{opt.name}}</option>
                </select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>Hair</label>
                <select name='opt_id'  [(ngModel)]="data.hair">
                    <option [value]="">Select Hair Style</option>
                  <option [value]="opt._id" *ngFor="let opt of haircolors">{{opt.name}}</option>
                </select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>Body hair</label>
                <select name='body_hair_id'  [(ngModel)]="data.body_hair">
                    <option [value]="">Select Body hair type</option>
                  <option [value]="opt._id" *ngFor="let opt of bodyhairs">{{opt.name}}</option>
                </select>
              </div>
            </div>
            <div class="personal-detail-tab-row">
              <label>Body decoration</label>
                <ul>
                  <li *ngFor="let n of bodydecoration_arr" [ngClass]="{'detail-active':(testArr1.indexOf(n) > -1)}">
                      <a href="javascript:void(0)" (click)="setClassbody($event)">{{n}}</a>
                  </li>
              </ul>
            </div>



            <div class="personal-detail-tab-row">
              <div class="personal-detail-medium-box select-box">
                <label>Drink</label>
                <select  [(ngModel)]="data.drink">
                  <option value="Never">Never</option>
                  <option value="Socially">Socially</option>
                  <option value="Regularly">Regularly</option>
                  <option value="I live to drink">I live to drink</option>
                  <option value="I will tell you later">I will tell you later</option>
                </select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>Smoke</label>
                <select [(ngModel)]="data.smoke">
                  <option value="No">No</option>
                  <option value="Yes">Yes</option>
                  <option value="I will tell you later">I will tell you later</option>
                </select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>Drugs</label>
                <select [(ngModel)]="data.drugs">
                  <option value="None">None</option>
                  <option value="Some">Some</option>
                  <option value="Heavy">Heavy</option>
                  <option value="I will tell you later">I will tell you later</option>
                </select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>Cock/Breast size</label>
                <select [(ngModel)]="data.size">
                  <option value="Small">Small</option>
                  <option value="Medium">Medium</option>
                  <option value="Large">Large</option>
                  <option value="Very large">Very large</option>
                  <option value="Prefer not to say">Prefer not to say</option>
                </select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>Safe sex</label>
                <select [(ngModel)]="data.safe_sex">
                  <option value="Always">Always</option>
                  <option value="Sometimes">Sometimes</option>
                  <option value="Never">Never</option>
                  <option value="I will tell you later">I will tell you later</option>
                </select>
              </div>
            </div>

            <!--female block-->
            <div *ngIf="data.gender=='C'">


              <div class="personal-detail-tab-row-heading"><h2>Female</h2></div>
              <div class="personal-detail-tab-row">
                <div class="personal-bigradio-sec">
                  <div>
                    <div class="personal-detail-sml-box select-box">
                      <label>Date of birth</label>
                      <select [(ngModel)]="data.dd_female">
                        <option [value]="d" *ngFor="let d of day">{{d}}</option>
                      </select>
                    </div>
                    <div class="personal-detail-sml-box select-box">
                      <label>&nbsp;</label>
                      <select [(ngModel)]="data.mm_female">
                        <option [value]="m" *ngFor="let m of month">{{m}}</option>
                      </select>
                    </div>
                    <div class="personal-detail-sml-box select-box">
                      <label>&nbsp;</label>
                      <select [(ngModel)]="data.yyyy_female">
                        <option [value]="y" *ngFor="let y of year">{{y}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="personal-bigradio-sec">
                  <label>Sexuality</label>
                  <div>
                    <div class="personal-radio-outer">
                      <input class="personal-radio-btn" name="sexuality_female" [(ngModel)]="data.sexuality_female" value="Straight" type="radio">
                      <span class="personal-radio-title">Straight</span></div>
                    <div class="personal-radio-outer">
                      <input class="personal-radio-btn" name="sexuality_female" [(ngModel)]="data.sexuality_female" value="Gay" type="radio">
                      <span class="personal-radio-title">Gay</span></div>
                    <div class="personal-radio-outer">
                      <input class="personal-radio-btn" name="sexuality_female" [(ngModel)]="data.sexuality_female" value="Bi" type="radio">
                      <span class="personal-radio-title">Bi</span></div>
                    <div class="personal-radio-outer">
                      <input class="personal-radio-btn" name="sexuality_female" [(ngModel)]="data.sexuality_female" value="Bicurious" type="radio">
                      <span class="personal-radio-title">Bi-curious</span></div>
                  </div>
                </div>
              </div>
              <div class="personal-detail-tab-row">
                <div class="personal-detail-medium-box select-box">
                  <label>Ethnicity</label>
                  <select name='eth_id' [(ngModel)]="data.ethnicity_female">
                      <option [value]="">Select Ethnicity</option>
                    <option [value]="opt._id" *ngFor="let opt of ethnicities">{{opt.name}}</option>
                  </select>
                </div>
                <div class="personal-detail-medium-box select-box">
                  <label>Height</label>
                  <select name='height_id'  [(ngModel)]="data.height_female">
                      <option [value]="">Select Height</option>
                    <option [value]="opt._id" *ngFor="let opt of heights">{{opt.name}}</option>
                  </select>
                </div>
                <div class="personal-detail-medium-box select-box">
                  <label>Build</label>
                  <select name='build_id'  [(ngModel)]="data.build_female">
                      <option [value]="">Select Build</option>
                    <option [value]="opt._id" *ngFor="let opt of builds">{{opt.name}}</option>
                  </select>
                </div>
                <div class="personal-detail-medium-box select-box">
                  <label>Hair</label>
                  <select name='opt_id'  [(ngModel)]="data.hair_female">
                      <option [value]="">Select Hair Style</option>
                    <option [value]="opt._id" *ngFor="let opt of haircolors">{{opt.name}}</option>
                  </select>
                </div>
                <div class="personal-detail-medium-box select-box">
                  <label>Body hair</label>
                  <select name='body_hair_id'  [(ngModel)]="data.body_hair_female">
                      <option [value]="">Select Body hair type</option>
                    <option [value]="opt._id" *ngFor="let opt of bodyhairs">{{opt.name}}</option>
                  </select>
                </div>
              </div>
              <div class="personal-detail-tab-row">
                <label>Body decoration</label>
                  <ul>
                    <li *ngFor="let n of bodydecoration_arr" [ngClass]="{'detail-active':(testArr5.indexOf(n) > -1)}">
                        <a href="javascript:void(0)" (click)="setClassbodyfemale($event)">{{n}}</a>
                    </li>
                </ul>
              </div>



              <div class="personal-detail-tab-row">
                <div class="personal-detail-medium-box select-box">
                  <label>Drink</label>
                  <select  [(ngModel)]="data.drink_female">
                    <option value="Never">Never</option>
                    <option value="Socially">Socially</option>
                    <option value="Regularly">Regularly</option>
                    <option value="I live to drink">I live to drink</option>
                    <option value="I will tell you later">I will tell you later</option>
                  </select>
                </div>
                <div class="personal-detail-medium-box select-box">
                  <label>Smoke</label>
                  <select [(ngModel)]="data.smoke_female">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                    <option value="I will tell you later">I will tell you later</option>
                  </select>
                </div>
                <div class="personal-detail-medium-box select-box">
                  <label>Drugs</label>
                  <select [(ngModel)]="data.drugs_female">
                    <option value="None">None</option>
                    <option value="Some">Some</option>
                    <option value="Heavy">Heavy</option>
                    <option value="I will tell you later">I will tell you later</option>
                  </select>
                </div>
                <div class="personal-detail-medium-box select-box">
                  <label>Cock/Breast size</label>
                  <select [(ngModel)]="data.size_female">
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                    <option value="Very large">Very large</option>
                    <option value="Prefer not to say">Prefer not to say</option>
                  </select>
                </div>
                <div class="personal-detail-medium-box select-box">
                  <label>Safe sex</label>
                  <select [(ngModel)]="data.safe_sex_female">
                    <option value="Always">Always</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Never">Never</option>
                    <option value="I will tell you later">I will tell you later</option>
                  </select>
                </div>
              </div>
            </div>
            <!--end female block-->

            <div class="personal-detail-tab-row">
              <label>I'm interested in <span>(click all that apply)</span></label>
              <ul>
                  <li *ngFor="let n of interested_arr" [ngClass]="{'detail-active':(testArr.indexOf(n) > -1)}">
                      <a href="javascript:void(0)" (click)="setClass($event)">{{n}}</a>
                  </li>
              </ul>
            </div>
            <div class="personal-detail-tab-row">
              <label>With people aged<span>(click all that apply)</span></label>
              <ul>
                  <li *ngFor="let n of people_aged_arr" [ngClass]="{'detail-active':(testArr2.indexOf(n) > -1)}">
                      <a href="javascript:void(0)" (click)="setClassAged($event)">{{n}}</a>
                  </li>

              </ul>
            </div>
            <div class="personal-detail-tab-row">
              <label>Travel arrangements</label>
              <div>

                  <ul>
                    <li *ngFor="let n of travel_arr" [ngClass]="{'detail-active':(testArr4.indexOf(n) > -1)}">
                        <a href="javascript:void(0)" (click)="setClasstravel($event)">{{n}}</a>
                    </li>
                </ul>
              </div>
            </div>

            <div class="personal-detail-tab-butn-row">
              <!-- <input class="cancel-btn" value="Cancel" type="submit"> -->
              <input [disabled]="loading" class="save-btn" value="Save " type="submit" (click)="personal_details_update(data)">
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
          </div>
        </div>
          <div id="tab2" [ngStyle]="{'display': tab === 'tab2' ? 'block' : 'none'}">
            <div class="latest-personal-detail-row">

              <h5>Your Profile Headline</h5>
              <textarea class="latest-personal-detail-textarea"  [(ngModel)]="headline"></textarea>
            </div>
            <div class="latest-personal-detail-row">
              <h5>A bit more about you</h5>
              <textarea class="latest-personal-detail-textarea"  [(ngModel)]="personal_details"></textarea>
            </div>
            <div class="latest-personal-detail-row">
              <!-- <input class="cancel-btn" value="Cancel" type="submit"> -->
              <input [disabled]="loading" class="save-btn" value="SAVE " type="submit" (click)="submit_personal(headline,personal_details)">
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
            <div class="latest-personal-detail-row">
              <h5>Don’t include</h5>
              <ul>
                <li>* Contact details</li>
                <li>* Links to websites</li>
                <li>* Memberships status</li>
                <li>* Illegal activities</li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

