<div class="inner-main-sec">
  <div class="container">
    <div class="row latest-personal-detail-outer">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4><img src="/assets/images/setting-icon.png" alt=""><span>Add at least personal details</span></h4>
        <div class="latest-personal-details-tab-top">
          <ul class="form-tab-1">
            <li [ngClass]="{ 'pages_active': tab === 'tab1' }"><a [routerLink]="" (click)="displayTab('tab1')">My Details</a></li>
            <li [ngClass]="{ 'pages_active': tab === 'tab2' }"><a [routerLink]="" (click)="displayTab('tab2')">About Me</a></li>
          </ul>
        </div>
        <div class="latest-personal-details-tab-bot">
          <div id="tab1" [ngStyle]="{'display': tab === 'tab1' ? 'block' : 'none'}">
            <div class="personal-detail-tab-row">
              <div class="personal-detail-medium-box select-box">
                <app-alerts></app-alerts>
                <label>Location</label>
                <select name='count_id' (change)="onItemChange($event.target.value)" [(ngModel)]="data.country">
                  <option [value]="count._id" *ngFor="let count of countrys">{{count.name}}</option>
                </select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>&nbsp;</label>
                <select [(ngModel)]="data.state" name ="st_id">
                  <option [value]="st._id" *ngFor="let st of states">{{st.name}}</option>
                </select>
              </div>
              <div class="personal-detail-big-box select-box">
                <label>Time Zone</label>
                <select [(ngModel)]="data.timezone">
               <option [value]="tz.label" *ngFor="let tz of timezones">{{tz.name}}</option>
              </select>
              </div>
            </div>
            <div class="personal-detail-tab-row">
              <div class="personal-bigradio-sec">
                <label>I am primarily looking for</label>
                <div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="M" [(ngModel)]="data.looking_for" name="gender" type="radio" [checked]="data.looking_for =='M'">
                    <span class="personal-radio-title">Male</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="F" [(ngModel)]="data.looking_for" name="gender" type="radio" [checked]="data.looking_for =='F'">
                    <span class="personal-radio-title">Female</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="C" [(ngModel)]="data.looking_for" name="gender" type="radio" [checked]="data.looking_for =='C'">
                    <span class="personal-radio-title">Couple</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="O" [(ngModel)]="data.looking_for" name="gender" type="radio" [checked]="data.looking_for =='O'">
                    <span class="personal-radio-title">CD / TV / TS</span></div>
                </div>
              </div>
              <div class="personal-bigradio-sec">
                <label>Gender</label>
                <div>
                  <div class="personal-radio-outer">
                <div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="M" [(ngModel)]="data.gender" name="gender1" type="radio" [checked]="data.gender =='M'">
                    <span class="personal-radio-title">Male</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="F" [(ngModel)]="data.gender" name="gender1" type="radio" [checked]="data.gender =='F'">
                    <span class="personal-radio-title">Female</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="C" [(ngModel)]="data.gender" name="gender1" type="radio" [checked]="data.gender =='C'">
                    <span class="personal-radio-title">Couple</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" value="O" [(ngModel)]="data.gender" name="gender1" type="radio" [checked]="data.gender =='O'">
                    <span class="personal-radio-title">CD / TV / TS</span></div>
                </div>
                </div>
              </div>
            </div>
            <div class="personal-detail-tab-row">
              <div class="personal-bigradio-sec">
                <div>
                  <div class="personal-detail-sml-box select-box">
                    <label>Date of birth</label>
                    <select [(ngModel)]="data.dd">
                      <option [value]="d" *ngFor="let d of day">{{d}}</option>
                    </select>
                  </div>
                  <div class="personal-detail-sml-box select-box">
                    <label>&nbsp;</label>
                    <select [(ngModel)]="data.mm">
                      <option [value]="m" *ngFor="let m of month">{{m}}</option>
                    </select>
                  </div>
                  <div class="personal-detail-sml-box select-box">
                    <label>&nbsp;</label>
                    <select [(ngModel)]="data.yyyy">
                      <option [value]="y" *ngFor="let y of year">{{y}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="personal-bigradio-sec">
                <label>Sexuality</label>
                <div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" name="sexuality" [(ngModel)]="data.sexuality" value="STRAIGHT" type="radio">
                    <span class="personal-radio-title">Straight</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" name="sexuality" [(ngModel)]="data.sexuality" value="GAY" type="radio">
                    <span class="personal-radio-title">Gay</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" name="sexuality" [(ngModel)]="data.sexuality" value="BI" type="radio">
                    <span class="personal-radio-title">Bi</span></div>
                  <div class="personal-radio-outer">
                    <input class="personal-radio-btn" name="sexuality" [(ngModel)]="data.sexuality" value="BICURIOUS" type="radio">
                    <span class="personal-radio-title">Bi-curious</span></div>
                </div>
              </div>
            </div>
            <div class="personal-detail-tab-row">
              <div class="personal-detail-medium-box select-box">
                <label>Ethnicity</label>
                 <select name='eth_id' [(ngModel)]="data.ethnicity">
                  <option [value]="opt._id" *ngFor="let opt of ethnicities">{{opt.name}}</option>
                </select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>Height</label>
                <select name='height_id'  [(ngModel)]="data.height">
                  <option [value]="opt._id" *ngFor="let opt of heights">{{opt.name}}</option>
                </select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>Build</label>
                 <select name='build_id'  [(ngModel)]="data.build">
                  <option [value]="opt._id" *ngFor="let opt of builds">{{opt.name}}</option>
                </select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>Hair</label>
                <select name='opt_id'  [(ngModel)]="data.hair">
                  <option [value]="opt._id" *ngFor="let opt of haircolors">{{opt.name}}</option>
                </select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>Body hair</label>
                <select name='body_hair_id'  [(ngModel)]="data.body_hair">
                  <option [value]="opt._id" *ngFor="let opt of bodyhairs">{{opt.name}}</option>
                </select>
              </div>
            </div>
            <div class="personal-detail-tab-row">
              <label>Body decoration</label>
              <div class="personal-full-with-area">
                <input class="personal-radio-btn" name="body_deco" [(ngModel)]="data.body_decoration" value="EARNINGS" type="radio">
                <span class="personal-radio-title"><strong>Earrings</strong></span> </div>
              <div class="personal-full-with-area">
                <input class="personal-radio-btn" name="body_deco"  [(ngModel)]="data.body_decoration" value="NOSERINGS" type="radio">
                <span class="personal-radio-title"><strong>Nose rings</strong></span> </div>
              <div class="personal-full-with-area">
                <input class="personal-radio-btn" name="body_deco"  [(ngModel)]="data.body_decoration" value="BODYPIERCING" type="radio">
                <span class="personal-radio-title"><strong>Body piercing</strong></span> </div>
              <div class="personal-full-with-area">
                <input class="personal-radio-btn" name="body_deco" [(ngModel)]="data.body_decoration"  value="INTIMATEPIERCING" type="radio">
                <span class="personal-radio-title"><strong>Intimate Piercing</strong></span> </div>
              <div class="personal-full-with-area">
                <input class="personal-radio-btn" name="body_deco"  [(ngModel)]="data.body_decoration" value="TATTOOS" type="radio">
                <span class="personal-radio-title"><strong>Tattoos</strong></span> </div>

              <div class="personal-full-with-area">
                <input class="personal-radio-btn" name="body_deco" [(ngModel)]="data.body_decoration" value="PREFERNOTTOSAY" type="radio">
                <span class="personal-radio-title"><strong>Prefer not to say</strong></span> </div>
            </div>
            <div class="personal-detail-tab-row">
              <div class="personal-detail-medium-box select-box">
                <label>Drink</label>
                <select  [(ngModel)]="data.drink">
                  <option value="NEVER">Never</option>
                  <option value="SOCIALLY">Socially</option>
                  <option value="REGULARLY">Regularly</option>
                  <option value="ILIVETODRINK">I live to drink</option>
                  <option value="IWILLTELLYOULETTER">I will tell you later</option>
                </select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>Smoke</label>
                <select [(ngModel)]="data.smoke">
                  <option value="NO">No</option>
                  <option value="YES">Yes</option>
                  <option value="IWILLTELLYOULETTER">I will tell you later</option>
                </select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>Drugs</label>
                <select [(ngModel)]="data.drugs">
                  <option value="NONE">None</option>
                  <option value="SOME">Some</option>
                  <option value="HEAVY">Heavy</option>
                  <option value="IWILLTELLYOULETTER">I will tell you later</option>
                </select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>Cock/Breast size</label>
                <select [(ngModel)]="data.size">
                  <option value="SMALL">Small</option>
                  <option value="MEDIUM">Medium</option>
                  <option value="LARGE">Large</option>
                  <option value="VERYLARGE">Very large</option>
                  <option value="PREFERNOTTOSAY">Prefer not to say</option>
                </select>
              </div>
              <div class="personal-detail-medium-box select-box">
                <label>Safe sex</label>
                <select [(ngModel)]="data.safe_sex">
                  <option value="ALWAYS">Always</option>
                  <option value="SOMETIMES">Sometimes</option>
                  <option value="NEVER">Never</option>
                  <option value="IWILLTELLYOULETTER">I will tell you later</option>
                </select>
              </div>
            </div>
            <div class="personal-detail-tab-row">
              <label>I'm interested in <span>(click all that apply)</span></label>
              <ul>
                  <li *ngFor="let n of interested_arr" [ngClass]="{'detail-active':(testArr.indexOf(n) > -1)}">
                      <a href="javascript:void(0)" (click)="setClass($event)">{{n}}</a>
                  </li>
              </ul>
            </div>
            <div class="personal-detail-tab-row">
              <label>With people aged<span>(click all that apply)</span></label>
              <ul>
                  <li *ngFor="let n of people_aged_arr" [ngClass]="{'detail-active':(testArr2.indexOf(n) > -1)}">
                      <a href="javascript:void(0)" (click)="setClassAged($event)">{{n}}</a>
                  </li>

              </ul>
            </div>
            <div class="personal-detail-tab-row">
              <label>Travel arrangements</label>
              <div>
                <div class="personal-radio-outer">
                  <input class="personal-radio-btn" name="travel" [(ngModel)]="data.travel_arrangment" value="CANACCOMMODATE" type="radio">
                  <span class="personal-radio-title">Can accommodate</span></div>
                <div class="personal-radio-outer">
                  <input class="personal-radio-btn" name="travel" [(ngModel)]="data.travel_arrangment" value="WILLTRAVEL" type="radio">
                  <span class="personal-radio-title">Will travel</span></div>
              </div>
            </div>
            <div class="personal-detail-tab-row">
              <label>I'm here to</label>
              <div>
                <div class="personal-radio-outer">
                  <input class="personal-radio-btn" name="here" [(ngModel)]="data.purpose" value="HAVEFUN" type="radio">
                  <span class="personal-radio-title">Have Fun</span></div>
                <div class="personal-radio-outer">
                  <input class="personal-radio-btn" name="here" [(ngModel)]="data.purpose" value="PROMOTEAPAIDSERVICE" type="radio">
                  <span class="personal-radio-title">Promote A Paid Service</span></div>
              </div>
            </div>
            <div class="personal-detail-tab-butn-row">
              <!-- <input class="cancel-btn" value="Cancel" type="submit"> -->
              <input class="save-btn" value="Save " type="submit" (click)="personal_details_update(data)">
            </div>
          </div>
        </div>
          <div id="tab2" [ngStyle]="{'display': tab === 'tab2' ? 'block' : 'none'}">
            <div class="latest-personal-detail-row">
            <app-alerts></app-alerts>
              <h5>Your Profile Headline</h5>
              <textarea class="latest-personal-detail-textarea"  [(ngModel)]="headline"></textarea>
            </div>
            <div class="latest-personal-detail-row">
              <h5>A bit more about you</h5>
              <textarea class="latest-personal-detail-textarea"  [(ngModel)]="personal_details"></textarea>
            </div>
            <div class="latest-personal-detail-row">
              <!-- <input class="cancel-btn" value="Cancel" type="submit"> -->
              <input class="save-btn" value="SAVE " type="submit" (click)="submit_personal(headline,personal_details)">
            </div>
            <div class="latest-personal-detail-row">
              <h5>Don’t include</h5>
              <ul>
                <li>* Contact details</li>
                <li>* Links to websites</li>
                <li>* Memberships status</li>
                <li>* Illegal activities</li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

