<div class="top-navigation-outer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
        <div class="logo"><a href="/my-profile"><img src="/assets/images/white-logo.png" alt=""></a></div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
        <div class="top-nav-icon"> <a href="/settings"><i class="fa fa-cog" aria-hidden="true"></i></a> <a href="/search"><i class="fa fa-search" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fa fa-bell-o" aria-hidden="true"></i><sup *ngIf="count_noti != 0">{{count_noti}}</sup></a> <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i><sup>5</sup></a> <a href="messages.html"><i class="fa fa-envelope-o" aria-hidden="true"></i><sup>31</sup></a> <a href="hotlist.html"><i class="fa fa-heart-o"></i></a>
          <a href="/friendlist">
            <i class="fa fa-handshake-o"></i>
            <sup *ngIf="count_friend_request != 0">{{count_friend_request}}</sup>
          </a> <a href="/my-profile" class="profile-img"><img [src]="avatar" alt=""></a>
          <!--<a href="#" class="arrow-top"><i class="fa fa-caret-square-o-down"></i></a>-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-warning" style="text-align: center;" *ngIf="!is_email_verified">
  <strong>Warning! </strong>Your email is not verified. Please verify your email address.<a href= "javascript:void(0)"(click)="verifyEmail()">Click here</a> for resend verification email.
  <img *ngIf="isLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</div>
<div class="header-icon-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-7 col-sm-8 col-xs-12">
        <div class="header-icon-left">
          <ul>
            <li><a routerLink="/events"><img src="/assets/images/common-icon-1.png" alt=""><span>Events</span></a></li>
            <!--<li><a href="#"><img src="images/common-icon-2.png" alt=""><span>Gallery</span></a></li>-->
            <li><a href="/online-users"><img src="/assets/images/common-icon-3.png" alt=""><span>{{count}} Online</span></a></li>
            <li><a href="/friendlist"><img src="/assets/images/common-icon-4.png" alt=""><span>{{count_friend}} Friends</span></a></li>
            <li><a href="#"><img src="/assets/images/common-icon-5.png" alt=""><span>125 in chat</span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-5 col-sm-4 col-xs-12">
        <div class="header-icon-right">
          <div class="nearby-prople"> <a href="#" class=""><img src="/assets/images/common-icon-6.png" alt=""><strong>People nearby you</strong></a>
            <div class="near-by-pop-outer">
              <div class="near-by-pop-inner">
                <div class="wifi" id="box1"><img src="/assets/images/wifi.jpg" alt="">
                <p class="text-center">People near by you</p>
                </div>
                <div class="prof-circle" id="box2">
                  <div class="prog-circle-sec">
                    <div class="first-div">
                      <div class="friend-pop-more-row">
                        <div class="box-circle hidden-xxs">
                          <div class="progress-circle progress-70"><span><img src="/assets/images/profile-left-img.jpg" alt=""></span>
                            <div class="progress-percent"><strong>70</strong>
                            Matched
                            </div>
                          </div>
                          <p><a href="#">ellka</a></p>
                        </div>
                        <div class="box-circle hidden-xxs">
                          <div class="progress-circle progress-50"><span><img src="/assets/images/profile-left-img.jpg" alt=""></span>
                            <div class="progress-percent"><strong>70</strong>
                            Matched
                            </div>
                          </div>
                          <p><a href="#">ellka</a></p>
                        </div>
                      </div>
                      <div class="friend-pop-more-row">
                        <div class="box-circle hidden-xxs">
                          <div class="progress-circle progress-70"><span><img src="/assets/images/profile-left-img.jpg" alt=""></span>
                            <div class="progress-percent"><strong>70</strong>
                            Matched
                            </div>
                          </div>
                          <p><a href="#">ellka</a></p>
                        </div>
                        <div class="box-circle hidden-xxs">
                          <div class="progress-circle progress-50"><span><img src="/assets/images/profile-left-img.jpg" alt=""></span>
                            <div class="progress-percent"><strong>70</strong>
                            Matched
                            </div>
                          </div>
                          <p><a href="#">ellka</a></p>
                        </div>
                      </div>
                      <div class="next-div-friends frnd-prog-load-btn-outer"><a href="javascript:void(0)">Load More</a></div>
                    </div>
                    <div class="next-div">
                      <div class="friend-pop-more-row">
                        <div class="box-circle hidden-xxs">
                          <div class="progress-circle progress-70"><span><img src="/assets/images/profile-left-img.jpg" alt=""></span>
                            <div class="progress-percent"><strong>70</strong>
                            Matched
                            </div>
                          </div>
                          <p><a href="#">ellka</a></p>
                        </div>
                        <div class="box-circle hidden-xxs">
                          <div class="progress-circle progress-50"><span><img src="/assets/images/profile-left-img.jpg" alt=""></span>
                            <div class="progress-percent"><strong>70</strong>
                            Matched
                            </div>
                          </div>
                          <p><a href="#">ellka</a></p>
                        </div>
                      </div>
                      <div class="friend-pop-more-row">
                        <div class="box-circle hidden-xxs">
                          <div class="progress-circle progress-70"><span><img src="/assets/images/profile-left-img.jpg" alt=""></span>
                            <div class="progress-percent"><strong>70</strong>
                            Matched
                            </div>
                          </div>
                          <p><a href="#">ellka</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a href="javascript:void(0)" class="language" (click)="logout()">Logout</a> </div>
      </div>
    </div>
  </div>
</div>
