<div class="inner-page-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="inner-footer-sec">
          <ul>
            <li><a href="#">Swingers</a></li>
            <li><a href="#">Personals</a></li>
            <li><a href="#">Transvestites</a></li>
            <li><a href="#">Adult Chat Rooms</a></li>
            <li><a href="#">Sex Partners</a></li>
            <li><a href="#">Dogging</a></li>
            <li><a href="#">Wife Swapping</a></li>
            <li><a href="#">Group Sex</a></li>
            <li><a href="#">BDSM</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
          <p>Kinky 2018. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>