         <div class="general-tab-row change-pass-heading">
                      <h5>Change Password</h5>
                    </div>
                    <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
                        <div *ngIf="errorMsg" class="alert alert-danger alert-dismissible" [ngClass]="{'fade out':closeAlert}"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{errorMsg}}</div>
                        <div *ngIf="successMsg" class="alert alert-success alert-dismissible" [ngClass]="{'fade out':closeAlert1}"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{successMsg}}</div>
                        <div class="alert alert-danger"
                        *ngIf="changePassword.c_password.errors?.MatchPassword">Password not match</div>
                        <div class="general-tab-row">
                          <label>Type your old password</label>
                          <div class="general-textarea">
                            <input class="general-tab-text"  formControlName="old_password" placeholder="Old password" type="password">
                            <i *ngIf="submitted && !changePassword.old_password.errors && changePassword.old_password.valid" class="fa fa-check" aria-hidden="true"></i>
                            <i *ngIf="submitted && changePassword.old_password.errors && changePassword.old_password.invalid" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                        <div *ngIf="submitted && changePassword.old_password.errors" class="invalid-feedback">
                            <span>Old password is required</span>
                        </div>
                          </div>
                          <div class="general-tab-row">
                            <label>(Must be between 5 and 20 characters long)</label>
                            <div class="general-textarea">
                              <input class="general-tab-text"  formControlName="password" placeholder="Password" type="password">
                              <i *ngIf="submitted && !changePassword.password.errors && changePassword.password.valid" class="fa fa-check" aria-hidden="true"></i>
                              <i *ngIf="submitted && changePassword.password.errors && changePassword.password.invalid" class="fa fa-times" aria-hidden="true"></i>
                          </div>
                          <div *ngIf="submitted && changePassword.password.errors" class="invalid-feedback">
                              <span>Password is required</span>
                          </div>
                            </div>

                          <div class="general-tab-row">
                            <label>Retype new password</label>
                            <div class="general-textarea">
                              <input class="general-tab-text"  formControlName="c_password" placeholder="Change Password" type="password">
                              <i *ngIf="submitted && !changePassword.c_password.errors && changePassword.c_password.valid" class="fa fa-check" aria-hidden="true"></i>
                              <i *ngIf="submitted && changePassword.c_password.errors && changePassword.c_password.invalid" class="fa fa-times" aria-hidden="true"></i>
                          </div>
                    <div *ngIf="submitted && changePassword.c_password.errors" class="invalid-feedback">
                        <span>Confirm Password is required</span>
                    </div>

                      </div>

                    <div class="general-tab-row">
                      <button [disabled]="loading" class="save-btn update-btn">Change Password</button>
                      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                    </form>
