<div class="inner-main-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="event-drop-sec">
            <div class="drop-outer">
              <select class="event-drop">
                <option>All Events</option>
                <option>Meet-Ups</option>
                <option>Regular</option>
              </select>
            </div>
            <div class="drop-outer">
              <select class="event-national">
                <option>National</option>
                <option>Manila</option>
                <option>Everywhere</option>
              </select>
            </div>
          </div>
          <div class="calender-outer">
            <div class="calendar"></div>
            <div class="calender-bot-icon">
              <ul>
                <li><a href="/add-event"><strong><img src="/assets/images/green-icon-1.png" alt=""></strong><span>Add Party</span></a></li>
                <li><a href="/add-meetup"><strong><img src="/assets/images/green-icon-2.png" alt=""></strong><span>Add Meetup</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="event-data-top">
            <h4><img src="/assets/images/common-icon-1.png" alt=""><span>11 April</span></h4>
            <ul>
              <li>
                <div class="event-img-calendar"><a href="#"><img src="/assets/images/event-user-pic.jpg" alt=""></a>
                  <div class="event-user-active">&nbsp;</div>
                </div>
                <div class="event-text-calendar">
                  <h6><img src="/assets/images/event-icon.png" alt=""><span><a href="event-selected.html">prefer to host but may travel,..</a></span></h6>
                  <p>prefer to host but may travel, seeking guy over 40 or preferably bi couple.</p>
                  <h6>oirazor1971</h6>
                  <p><i class="fa fa-map-marker" aria-hidden="true"></i> <span>Alabang, Rizal, Philippines</span></p>
                  <p><i class="fa fa-heart-o"></i> <span>14 Likes</span></p>
                </div>
              </li>
              <li>
                <div class="event-img-calendar"><a href="#"><img src="/assets/images/event-user-pic.jpg" alt=""></a>
                  <div class="event-user-active">&nbsp;</div>
                </div>
                <div class="event-text-calendar">
                  <h6><img src="/assets/images/event-icon.png" alt=""><span><a href="event-selected.html">prefer to host but may travel,..</a></span></h6>
                  <p>prefer to host but may travel, seeking guy over 40 or preferably bi couple.</p>
                  <h6>oirazor1971</h6>
                  <p><i class="fa fa-map-marker" aria-hidden="true"></i> <span>Alabang, Rizal, Philippines</span></p>
                  <p><i class="fa fa-heart-o"></i> <span>14 Likes</span></p>
                </div>
              </li>
              <li>
                <div class="event-img-calendar"><a href="#"><img src="/assets/images/event-user-pic.jpg" alt=""></a>
                  <div class="event-user-active">&nbsp;</div>
                </div>
                <div class="event-text-calendar">
                  <h6><img src="/assets/images/event-icon.png" alt=""><span><a href="event-selected.html">prefer to host but may travel,..</a></span></h6>
                  <p>prefer to host but may travel, seeking guy over 40 or preferably bi couple.</p>
                  <h6>oirazor1971</h6>
                  <p><i class="fa fa-map-marker" aria-hidden="true"></i> <span>Alabang, Rizal, Philippines</span></p>
                  <p><i class="fa fa-heart-o"></i> <span>14 Likes</span></p>
                </div>
              </li>
              <li>
                <div class="event-img-calendar"><a href="#"><img src="/assets/images/event-user-pic.jpg" alt=""></a>
                  <div class="event-user-active">&nbsp;</div>
                </div>
                <div class="event-text-calendar">
                  <h6><img src="/assets/images/event-icon.png" alt=""><span><a href="event-selected.html">prefer to host but may travel,..</a></span></h6>
                  <p>prefer to host but may travel, seeking guy over 40 or preferably bi couple.</p>
                  <h6>oirazor1971</h6>
                  <p><i class="fa fa-map-marker" aria-hidden="true"></i> <span>Alabang, Rizal, Philippines</span></p>
                  <p><i class="fa fa-heart-o"></i> <span>14 Likes</span></p>
                </div>
              </li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>