<div class="general-tab-row"> <strong>Delete account</strong><br>
  
  <span>Why you want to delete account ?</span> 
</div>
<div class="alert alert-danger" *ngIf="errorMessage">
      
  <strong>{{ errorMessage }}</strong>
</div>

<div class="alert alert-success" *ngIf="successMessage">
  
    <strong>{{ successMessage }}</strong>
</div>
<div class="general-tab-row">
  <div class="personal-full-with-area">
    <input class="personal-radio-btn" [value]="1" name="delete" [(ngModel)]="delete_account" type="radio">
    <span class="personal-radio-title"><strong>You unable for find your match people?</strong></span> </div>
  <div class="personal-full-with-area">
    <input class="personal-radio-btn" [value]="2" name="delete" [(ngModel)]="delete_account" type="radio">
    <span class="personal-radio-title"><strong>You aren't anymore like this lifestyle?</strong></span> </div>
  <div class="personal-full-with-area">
    <input class="personal-radio-btn" [value]="3" name="delete" [(ngModel)]="delete_account" type="radio">
    <span class="personal-radio-title"><strong>Other Reason</strong></span> </div>
</div>
<div class="general-tab-row">
  <textarea class="general-tab-textarea" [(ngModel)]="other_delete_reason"></textarea>
</div>
<div class="general-tab-row">
  <input class="cancel-btn" [disabled]="loading" value="Delete My Account" type="submit" (click)="update(delete_account,other_delete_reason)">
  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</div>
