<div class="general-tab-row"> <strong>Delete account</strong><br>
  <span>Why you want to delete account ?</span> </div>
<div class="general-tab-row">
  <div class="personal-full-with-area">
    <input class="personal-radio-btn" value="" name="deleteaccount" type="radio">
    <span class="personal-radio-title"><strong>You unable for find your match people?</strong></span> </div>
  <div class="personal-full-with-area">
    <input class="personal-radio-btn" value="" name="deleteaccount" type="radio">
    <span class="personal-radio-title"><strong>You aren't anymore like this lifestyle?</strong></span> </div>
  <div class="personal-full-with-area">
    <input class="personal-radio-btn" value="" name="deleteaccount" type="radio">
    <span class="personal-radio-title"><strong>Other Reason</strong></span> </div>
</div>
<div class="general-tab-row">
  <textarea class="general-tab-textarea"></textarea>
</div>
<div class="general-tab-row">
  <input class="cancel-btn" value="Delete My Account" type="submit">
</div>
