
<div class="inner-main-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="general-tab-top-outer">
          <ul class="form-tab-1">
            <li [ngClass]="{ 'pages_active': tab === 'tab1' }"><a [routerLink]="" (click)="displayTab('tab1')"><img src="assets/images/friends-icon-1.png" alt=""><span>Friends</span></a></li>
            <li [ngClass]="{ 'pages_active': tab === 'tab2' }"><a [routerLink]="" (click)="displayTab('tab2')" ><img src="assets/images/friends-icon-2.png" alt=""><span>Friends request</span></a></li>
          </ul>
        </div>
        <div class="friends-tab-content">
          <div id="tab1" [ngStyle]="{'display': tab === 'tab1' ? 'block' : 'none'}">
            <ul >
              <li *ngFor="let opt of friend_list |slice:0:show let i=index">
                <div class="row" *ngIf="opt.from_user.username && opt.from_user._id != session_id">
                  <div class="col-lg-9 col-md-12 col-sm-9 col-xs-12" >
                      <a href="/user-timeline/{{opt.from_user._id}}">
                    <div class="friends-sml-img"><img [src]="opt.from_user.avatar" alt="">
                      <div class="event-user-active">&nbsp;</div>
                    </div>
                    <div class="friends-sml-text">
                      <h6>{{opt.from_user.username}}</h6>
                      <p *ngIf="opt.from_user.gender=='C'"> <span><i class="fa fa-mars"></i> {{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality}}</span> <span><i class="fa fa-venus"></i> {{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality_female}}</span> </p>
                        <p *ngIf="opt.from_user.gender=='M'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality}}</span></p>
                        <p *ngIf="opt.from_user.gender=='F'">  <span><i class="fa fa-venus"></i> {{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality}}</span> </p>
                        <p *ngIf="opt.from_user.gender=='O'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality}}</span> </p>
                    </div>
                    </a>
                  </div>
                  <div class="col-lg-3 col-md-12 col-sm-3 col-xs-12">
                    <div class="friends-icon-sec"> <a href="javascript:void(0)" (click)="friend_remove(opt.from_user._id)" class="friends-cross-icon"><i class="fa fa-close"></i></a> <a href="javascript:void(0)" class="friends-envelop-icon"><i class="fa fa-envelope-o"></i></a> </div>
                  </div>
                </div>
                <div class="row" *ngIf="opt.to_user.username && opt.to_user._id != session_id">
                    <div class="col-lg-9 col-md-12 col-sm-9 col-xs-12" >
                        <a href="/user-timeline/{{opt.to_user._id}}">
                      <div class="friends-sml-img"><img [src]="opt.to_user.avatar" alt="">
                        <div class="event-user-active">&nbsp;</div>
                      </div>
                      <div class="friends-sml-text">
                        <h6>{{opt.to_user.username}}</h6>
                        <p *ngIf="opt.to_user.gender=='C'"> <span><i class="fa fa-mars"></i> {{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span> <span><i class="fa fa-venus"></i> {{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality_female}}</span> </p>
                          <p *ngIf="opt.to_user.gender=='M'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span></p>
                          <p *ngIf="opt.to_user.gender=='F'">  <span><i class="fa fa-venus"></i> {{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span> </p>
                          <p *ngIf="opt.to_user.gender=='O'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span> </p>
                      </div>
                      </a>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-3 col-xs-12">
                      <div class="friends-icon-sec"> <a href="javascript:void(0)" (click)="friend_remove(opt.to_user._id)" class="friends-cross-icon"><i class="fa fa-close"></i></a> <a href="javascript:void(0)" class="friends-envelop-icon"><i class="fa fa-envelope-o"></i></a> </div>
                    </div>
                  </div>
                <div id="loadMore2" class="more-setting-outer"  *ngIf="i==5 && show == 6" (click)="show = friend_list.length">More</div>
              </li>

            </ul>

          </div>
          <div id="tab2" [ngStyle]="{'display': tab === 'tab2' ? 'block' : 'none'}">
            <div class="invitation-receive-sec">
              <h4>Invitations Received</h4>
              <ul>
                <li *ngFor="let opt of results">
                  <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-9 col-xs-12">
                        <a href="/user-timeline/{{opt.from_user._id}}">
                      <div class="friends-sml-img"><img [src]="opt.from_user.avatar" alt="">
                        <div class="event-user-active">&nbsp;</div>
                      </div>
                      <div class="friends-sml-text">
                        <h6>{{opt.from_user.username}}</h6>
                        <p *ngIf="opt.from_user.gender=='C'"> <span><i class="fa fa-mars"></i> {{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality}}</span> <span><i class="fa fa-venus"></i> {{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality_female}}</span> </p>
                        <p *ngIf="opt.from_user.gender=='M'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality}}</span></p>
                        <p *ngIf="opt.from_user.gender=='F'">  <span><i class="fa fa-venus"></i> {{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality}}</span> </p>
                        <p *ngIf="opt.from_user.gender=='O'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.from_user.mm +"/"+opt.from_user.dd +"/"+opt.from_user.yyyy )}} {{opt.from_user.sexuality}}</span> </p>
                      </div>
                      </a>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-3 col-xs-12">
                      <div class="friends-icon-sec"> <a href="javascript:void(0)"  (click)="accept(opt.from_user._id)" class="friends-plus-icon"><i class="fa fa-plus" aria-hidden="true"></i></a> <a href="javascript:void(0)" (click)="reject(opt.from_user._id)" class="friends-cross-icon"><i class="fa fa-close"></i></a> <a href="javscript:void(0)" class="friends-envelop-icon"><i class="fa fa-envelope-o"></i></a> </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="invitation-sent-sec">
              <h4>Invitations Sent</h4>
              <ul>
                <li *ngFor="let opt of list">
                  <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-9 col-xs-12">
                      <a href="/user-timeline/{{opt.from_user._id}}">
                      <div class="friends-sml-img"><img [src]="opt.to_user.avatar" alt="">
                        <div class="event-user-active">&nbsp;</div>
                      </div>
                      <div class="friends-sml-text">
                        <h6>{{opt.to_user.username}}</h6>
                        <p *ngIf="opt.to_user.gender=='C'"> <span><i class="fa fa-mars"></i> {{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span> <span><i class="fa fa-venus"></i> {{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality_female}}</span> </p>
                        <p *ngIf="opt.to_user.gender=='M'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span></p>
                        <p *ngIf="opt.to_user.gender=='F'">  <span><i class="fa fa-venus"></i> {{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span> </p>
                        <p *ngIf="opt.to_user.gender=='O'"> <span><i class="fa fa-mars"></i>{{this.getAge(opt.to_user.mm +"/"+opt.to_user.dd +"/"+opt.to_user.yyyy )}} {{opt.to_user.sexuality}}</span> </p>
                      </div>
                      </a>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-3 col-xs-12">
                      <div class="friends-icon-sec"> <a href="javascript:void(0)" (click)="cancel_invetation(opt.to_user._id)" class="friends-cross-icon"><i class="fa fa-close"></i></a> <a href="javacsript:void(0)" class="friends-envelop-icon"><i class="fa fa-envelope-o"></i></a> </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

