<div class="inner-main-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="profile-pic-sec">
          <h3><i class="fa fa-user" aria-hidden="true"></i><span>Photo upload</span></h3>
          
            
            <div class="photo-slider-sec photo-upload-sec" >
              <div id="owl-demo" class="owl-carousel" >
                <div class="item" *ngIf="showSlider">
                  <img [src]="image.url" alt="" [ngStyle]="{'transform': 'translateX('+ transform + '%' +')', 'transition': '.8s'}">
                </div>
                <div class="owl-controls clickable">
                  <div class="owl-buttons" *ngIf="showSlider">
                    <div class="owl-prev" (click)="onPrev()"></div>
                    <div class="owl-next" (click)="onNext()"></div>
                  </div>
                </div>
                
              </div>
            </div>
            
          
          <div class="photo-save-area" *ngIf="showSlider">
              <div class="photo-save-input-outer">
                <input type="text" class="photo-input" [(ngModel)]="altTag" placeholder="My Best Photo">
              </div>
              <div class="photo-save-input-outer">
                <input type="submit" class="private-btn" [value]="btnValue" (click)="toggleClass($event)">
                <input type="submit" class="save-btn" value="Save" (click)="changeImageAccess($event)">
              </div>
          </div>
          <p *ngIf="showSlider" class="text-center photo-leftr-cross-icon"><a href="javascript:void(0)" (click)="closeSlider()"><i class="fa fa-close"></i></a></p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="photo-row photo-row1">
          <div class="downarrow-mobile downarrow-mobile1"><a href="javascript:void(0)"><i class="fa fa-caret-down" aria-hidden="true"></i></a></div>
          <h4><img src="assets/images/photo-icon-1.png" alt=""><span>Photos &nbsp;<em style="font-style: italic;font-size: small;">(For more features please rollover on image)</em></span></h4>
          <ul>
            <li *ngFor="let f of fileArr" (mouseenter)="onMouseEnter($event)" (mouseleave) ="onMouseLeave($event)">
              <img [src]="f.url" [alt]="f.altTag" style="width: 95px!important; height:95px!important;">
              <div class="photo-edit-outer"> 
                <a href="javascript:void(0)" class="photo-edit-icon">
                  <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="onAnchorClick($event)"></i>
                </a>
                <div class="edit-popup-photo-vid">
                  <ul>
                    <li>
                      <a href="javascript:void(0)" (click)="moveToPrivate(f.url, f.access)">
                        Move To {{f.access === 'Private' ? 'Public' : 'Private'}}
                      </a>
                    </li>
                    <li><a href="javascript:void(0)" (click)="setAsProfile(f.url)">Set as profile</a></li>
                    <li><a href="javascript:void(0)" (click)="deleteImage(f.url)">Delete</a></li>
                  </ul>
                </div>
              </div>
            </li>

          </ul>
          <div class="addphoto-icon-sec">
            <input type="file" class="uplod-btn" accept="image/*" (change)="changeListener($event)" name="imageArr" multiple>
            <a href="javscript:void(0)"><strong><img src="assets/images/photo-pluse-icon.png" alt=""></strong><span>Add Photo</span></a>
          </div>
          <!--<ng-progress id="bar-one" #barOne spinnerPosition="left"></ng-progress>-->
          <!--<div class="slimbar-container">
            <ng2-slim-loading-bar></ng2-slim-loading-bar>
          </div>-->
          <div class="slimbar-container" *ngIf="loading">
           
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" [attr.aria-valuenow]="BarWidth" aria-valuemin="0" aria-valuemax ="100" 
                style="min-width: 2em;" [style.width]="BarWidth + '%'">
                {{BarWidth}}%
          </div>
          </div>

        </div>
        <div class="photo-row photo-row2">
          <div class="downarrow-mobile downarrow-mobile2"><a href="javascript:void(0)"><i class="fa fa-caret-down" aria-hidden="true"></i></a></div>
          <h4><img src="assets/images/photo-icon-2.png" alt=""><span>Public</span></h4>
          <ul>
            <li *ngFor="let img of publicImages; let x = index"><img [src]="img.url" (click)="setPublicImage(img, x)" style="width: 95px!important; height:95px!important;" [alt]="img.altTag"></li>
            
          </ul>
        </div>
        <div class="photo-row  photo-row3">
          <div class="downarrow-mobile downarrow-mobile3"><a href="javascript:void(0)"><i class="fa fa-caret-down" aria-hidden="true"></i></a></div>
          <h4><img src="assets/images/photo-icon-2.png" alt=""><span>Private</span></h4>
          <ul>
            <li *ngFor="let img of privateImages; let x = index"><img [src]="img.url" (click)="setPrivateImage(img, x)" style="width: 95px!important; height:95px!important;" [alt]="img.altTag"></li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</div>



