<div class="inner-main-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="profile-pic-sec">
          <h3><i class="fa fa-user" aria-hidden="true"></i><span>Photo upload</span></h3>
          <div class="photo-slider-sec photo-upload-sec">
            <div id="owl-demo" class="owl-carousel">
              <div class="item"><img src="assets/images/photo-upload-img.png" alt=""></div>
              <div class="item"><img src="assets/images/photo-upload-img.png" alt=""></div>
              <div class="item"><img src="assets/images/photo-upload-img.png" alt=""></div>
            </div>
          </div>
          <div class="photo-save-area">
            <div class="photo-save-input-outer">
              <input type="text" class="photo-input" placeholder="My Best Photo">
            </div>
            <div class="photo-save-input-outer">
              <input type="submit" class="private-btn" value="Private">
              <input type="submit" class="save-btn" value="Save">
            </div>
          </div>
          <p class="text-center photo-leftr-cross-icon"><a href="#"><i class="fa fa-close"></i></a></p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="photo-row photo-row1">
          <div class="downarrow-mobile downarrow-mobile1"><a href="javascript:void(0)"><i class="fa fa-caret-down" aria-hidden="true"></i></a></div>
          <h4><img src="assets/images/photo-icon-1.png" alt=""><span>Photos</span></h4>
          <ul>
            <li *ngFor="let f of fileArr">
              <img [src]="f" alt="">
              <div class="photo-edit-outer"> <a href="javascript:void(0)" class="photo-edit-icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <div class="edit-popup-photo-vid">
                  <ul>
                    <li><a href="#">Move to private</a></li>
                    <li><a href="#">Set as profile</a></li>
                    <li><a href="#">Delete</a></li>
                  </ul>
                </div>
              </div>
            </li>

          </ul>
          <div class="addphoto-icon-sec">
            <input type="file" class="uplod-btn" accept="image/*" (change)="changeListener($event)" name="imageArr" multiple>
            <a href="#"><strong><img src="assets/images/photo-pluse-icon.png" alt=""></strong><span>Add Photo</span></a> 
          </div>
          <!--<ng-progress id="bar-one" #barOne spinnerPosition="left"></ng-progress>-->
          <div class="progress">
           
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" [attr.aria-valuenow]="BarWidth" aria-valuemin="0" aria-valuemax ="100" 
                style="min-width: 2em;" [style.width]="(BarWidth/100)*100 + '%'">
                {{BarWidth}}%
          </div>
          </div>
          
        </div>
        <div class="photo-row photo-row2">
          <div class="downarrow-mobile downarrow-mobile2"><a href="javascript:void(0)"><i class="fa fa-caret-down" aria-hidden="true"></i></a></div>
          <h4><img src="assets/images/photo-icon-2.png" alt=""><span>Public</span></h4>
          <ul>
            <li><img src="assets/images/photo-image-1.jpg" alt=""></li>
            <li><img src="assets/images/photo-image-1.jpg" alt=""></li>
            <li><img src="assets/images/photo-image-1.jpg" alt=""></li>
          </ul>
        </div>
        <div class="photo-row  photo-row3">
          <div class="downarrow-mobile downarrow-mobile3"><a href="javascript:void(0)"><i class="fa fa-caret-down" aria-hidden="true"></i></a></div>
          <h4><img src="assets/images/photo-icon-2.png" alt=""><span>Private</span></h4>
          <ul>
            <li><img src="assets/images/photo-image-1.jpg" alt=""></li>
            <li><img src="assets/images/photo-image-1.jpg" alt=""></li>
            <li><img src="assets/images/photo-image-1.jpg" alt=""></li>
          </ul>
        </div>
        <div class="photo-row photo-row4">
          <div class="downarrow-mobile downarrow-mobile4"><a href="javascript:void(0)"><i class="fa fa-caret-down" aria-hidden="true"></i></a></div>
          <h4><img src="assets/images/photo-icon-2.png" alt=""><span>Video</span></h4>
          <ul>
            <li><img src="assets/images/photo-image-1.jpg" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


