<div class="inner-main-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="general-tab-top-outer">
          <ul class="form-tab">
            <li class="pages_active"><a href="#tab1"><img src="/assets/images/setting-icon.png" alt=""><span>General</span></a></li>
            <li><a href="#tab2"><img src="/assets/images/alert-icon.png" alt=""><span>Alerts</span></a></li>
            <li><a href="#tab3"><img src="/assets/images/advance-icon.png" alt=""><span>Advanced</span></a></li>
          </ul>
        </div>
        <div class="setting-bot-tab-content">
          <div id="tab1">
            <h4>General Settings</h4>
            <div class="row">
              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="generaltab-left">
                  <div class="general-tab-row">
                    <h5>Your Interests</h5>
                  </div>
                  <div class="general-tab-row">
                    <label>I am primarily looking for</label>
                    <div>
                      <div class="personal-radio-outer">
                        <input class="personal-radio-btn" value="" name="lookingfor" type="radio">
                        <span class="personal-radio-title">Male</span></div>
                      <div class="personal-radio-outer">
                        <input class="personal-radio-btn" value="" name="lookingfor" type="radio">
                        <span class="personal-radio-title">Female</span></div>
                      <div class="personal-radio-outer">
                        <input class="personal-radio-btn" value="" name="lookingfor" type="radio">
                        <span class="personal-radio-title">Couple</span></div>
                      <div class="personal-radio-outer">
                        <input class="personal-radio-btn" value="" name="lookingfor" type="radio">
                        <span class="personal-radio-title">CD / TV / TS</span></div>
                    </div>
                  </div>
                  <div class="general-tab-row">
                    <label>Age Range</label>
                    <div class="setting-sml-drop select-box">
                      <select>
                        <option>18</option>
                      </select>
                    </div>
                    <div class="to">To</div>
                    <div class="setting-sml-drop select-box">
                      <select>
                        <option>18</option>
                      </select>
                    </div>
                  </div>
                  <div class="general-tab-row">
                    <label>Within</label>
                    <div class="general-dropdown">
                      <select>
                        <option>10miles\16km</option>
                      </select>
                    </div>
                  </div>
                  <div class="general-tab-row">
                    <label>Of</label>
                    <div class="setting-medium-drop select-box">
                      <select>
                        <option>USA</option>
                      </select>
                    </div>
                    <div class="setting-medium-drop setting-medium-drop-right select-box">
                      <select>
                        <option>Tucson, Arizona</option>
                      </select>
                    </div>
                  </div>
                  <div class="general-tab-row">
                    <label>Prevent contact from members who</label>
                  </div>
                  <div class="general-tab-row">
                    <div class="personal-full-with-area">
                      <input class="personal-radio-btn" value="" name="contactmember" type="radio">
                      <span class="personal-radio-title"><strong>Don't match my interests</strong></span> </div>
                    <div class="personal-full-with-area">
                      <input class="personal-radio-btn" value="" name="contactmember" type="radio">
                      <span class="personal-radio-title"><strong>Live in another country</strong></span> </div>
                    <div class="personal-full-with-area">
                      <input class="personal-radio-btn" value="" name="contactmember" type="radio">
                      <span class="personal-radio-title"><strong>Offer Paid Services</strong></span> </div>
                  </div>
                  <!--<div class="general-tab-row">
                    <input class="save-btn update-btn" value="Update" type="submit">
                  </div>-->
                  <div class="general-tab-row">
                    <label>Site Appearance</label>
                  </div>
                  <div class="general-tab-row">
                    <div class="personal-full-with-area">
                      <input class="personal-radio-btn" value="" type="radio" checked>
                      <span class="personal-radio-title"><strong>Allow explicit content</strong></span> </div>
                  </div>
                  <div class="general-tab-row">
                    <input class="save-btn update-btn" value="Update" type="submit">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="generaltab-mid">
                  <div class="general-tab-row">
                    <label>Site language</label>
                    <div class="general-dropdown">
                      <select>
                        <option>English</option>
                      </select>
                    </div>
                  </div>
                  <div class="general-tab-row">
                    <label>Time Zone</label>
                    <div class="general-dropdown">
                      <select>
                        <option>UTC +7:00</option>
                      </select>
                    </div>
                  </div>
                  <div class="general-tab-row">
                    <label>Email</label>
                    <div class="general-tick">
                      <input type="text" class="general-tab-text" value="maninactionscript@gmail.com"  disabled>
                    </div>
                  </div>
                  <div class="general-tab-row">
                    <label>(Phone number is optional and will not be visible on your profile)</label>
                    <div class="general-cross">
                      <input type="text" class="general-tab-text" value="">
                    </div>
                  </div>
                  <div class="general-tab-row">
                    <input class="save-btn update-btn" value="Update" type="submit">
                  </div>
                  <div class="general-tab-row change-pass-heading">
                    <h5>Change Password</h5>
                  </div>
                  <div class="general-tab-row">
                    <label>(Must be between 5 and 20 characters long)</label>
                    <div class="general-textarea">
                      <input class="general-tab-text" value="Lorem" type="password">
                    </div>
                  </div>
                  <div class="general-tab-row">
                    <label>Retype new password</label>
                    <div class="general-textarea">
                      <input class="general-tab-text" value="Lorem" type="password">
                    </div>
                  </div>
                  <div class="general-tab-row">
                    <input class="save-btn update-btn" value="Change Password" type="submit">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="generaltab-right">
                  <div class="general-tab-row"> <strong>Switch account</strong><br>
                    <span>(Only for applicable for couple accounts)</span> </div>
                  <div class="general-tab-row">
                    <div class="personal-full-with-area">
                      <input class="personal-radio-btn" value="" name="switchaccount" type="radio">
                      <span class="personal-radio-title"><strong>You want use as Single female ?</strong></span> </div>
                    <div class="personal-full-with-area">
                      <input class="personal-radio-btn" value="" name="switchaccount" type="radio">
                      <span class="personal-radio-title"><strong>You want use as Single male ?</strong></span> </div>
                  </div>
                  <div class="general-tab-row">
                    <input class="save-btn update-btn" value="Update" type="submit">
                  </div>
                  <div class="general-tab-row"> <strong>Delete account</strong><br>
                    <span>Why you want to delete account ?</span> </div>
                  <div class="general-tab-row">
                    <div class="personal-full-with-area">
                      <input class="personal-radio-btn" value="" name="deleteaccount" type="radio">
                      <span class="personal-radio-title"><strong>You unable for find your match people?</strong></span> </div>
                    <div class="personal-full-with-area">
                      <input class="personal-radio-btn" value="" name="deleteaccount" type="radio">
                      <span class="personal-radio-title"><strong>You aren't anymore like this lifestyle?</strong></span> </div>
                    <div class="personal-full-with-area">
                      <input class="personal-radio-btn" value="" name="deleteaccount" type="radio">
                      <span class="personal-radio-title"><strong>Other Reason</strong></span> </div>
                  </div>
                  <div class="general-tab-row">
                    <textarea class="general-tab-textarea"></textarea>
                  </div>
                  <div class="general-tab-row">
                    <input class="cancel-btn" value="Delete My Account" type="submit">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="tab2">
            <h4>Alerts</h4>
            <div class="personal-full-with-area">
              <input class="personal-radio-btn" value="" type="radio">
              <span class="personal-radio-title"><strong>Please email me discounts, weekly newsletter and important updates about the site.</strong></span> </div>
            <div class="personal-full-with-area">
              <input class="personal-radio-btn" value="" type="radio">
              <span class="personal-radio-title"><strong>Please email me when I receive a new message.</strong></span> </div>
            <div class="personal-full-with-area">
              <input class="personal-radio-btn" value="" type="radio">
              <span class="personal-radio-title"><strong>Please notify me of activity from users with Promotions enabled.</strong></span> </div>
            <input type="submit" class="save-btn update-btn" value="Update">
          </div>
          <div id="tab3">
            <h4>Advanced</h4>
            <div class="more-setting-top">
              <div class="setting-row">
                <h5>Introduction Message</h5>
                <label>My preferred introduction message to sent to people that match my interests</label>
                <textarea class="setting-advance-textarea">Heya how are you? Heya, I'm nearby, send me a message back! </textarea>
                <label>Or write your own below</label>
                <textarea class="setting-advance-textarea">Hi there We could be a good match, send me over a message! </textarea>
                <input type="submit" class="save-btn update-btn" value="Update">
              </div>
              <div class="setting-row">
                <h5>Profile Protection</h5>
                <div class="personal-full-with-area">
                  <input class="personal-radio-btn" value="" type="radio">
                  <span class="personal-radio-title"><strong>Open</strong></span>
                  <p class="setting-sml-text">Allow my profile to be visible to unregistered members. This may include search engines like Google.</p>
                </div>
                <div class="personal-full-with-area">
                  <input class="personal-radio-btn" value="" type="radio">
                  <span class="personal-radio-title"><strong>Restricted</strong></span>
                  <p class="setting-sml-text">Block acces to my profile from unregistered members including search engines like Google.</p>
                </div>
                <div class="personal-full-with-area">
                  <p class="setting-sml-text">When enabled, all further changes to you profile will be protected but due to the caching of pages by search engines your exisiting profile may be visible online for a short while.</p>
                  <input class="save-btn update-btn" value="Update" type="submit">
                </div>
              </div>
            </div>
            <div class="more-setting-outer"><a href="#"><span>Manage More Settings</span> <i class="fa fa-caret-down" aria-hidden="true"></i></a></div>
            <div class="more-setting-bot">
              <div class="setting-row">
                <h5>Instant Messenger</h5>
                <div class="personal-full-with-area">
                  <input class="personal-radio-btn" value="" type="radio">
                  <span class="personal-radio-title"><strong>ON</strong></span>
                  <p class="setting-sml-text">Allows members to contact you whenever online</p>
                </div>
                <div class="personal-full-with-area">
                  <input class="personal-radio-btn" value="" type="radio">
                  <span class="personal-radio-title"><strong>OFF</strong></span>
                  <p class="setting-sml-text">OFF - You cannot be contacted via instant messenger</p>
                </div>
                <input class="save-btn update-btn" value="Update" type="submit">
              </div>
              <div class="setting-row">
                <h5>Auto Reply to Mail Matches</h5>
                <div class="personal-full-with-area">
                  <label>Subject</label>
                  <input type="text" class="advance-input-text" value="">
                </div>
                <div class="personal-full-with-area">
                  <label>Reply Text</label>
                  <textarea class="setting-advance-textarea"></textarea>
                </div>
                <div class="personal-full-with-area">
                  <input class="personal-radio-btn" value="" type="radio">
                  <span class="personal-radio-title"><strong>Enable AutoReply</strong></span> </div>
                <input class="save-btn update-btn" value="Update" type="submit">
              </div>
              <div class="setting-row">
                <h5>Auto Reply to Mail Matches</h5>
                <div class="personal-full-with-area">
                  <label>Subject</label>
                  <input type="text" class="advance-input-text" value="">
                </div>
                <div class="personal-full-with-area">
                  <label>Reply Text</label>
                  <textarea class="setting-advance-textarea"></textarea>
                </div>
                <div class="personal-full-with-area">
                  <input class="personal-radio-btn" value="" type="radio">
                  <span class="personal-radio-title"><strong>Enable AutoReply</strong></span> </div>
                <div class="personal-full-with-area">
                  <h5>Blacklist</h5>
                  <ul>
                    <li>The blacklist feature allows you to block all messages sent by certain members.</li>
                    <li>If you do not wish to receive emails from a member, go to his/her profile view window and click on Add to Blacklist.</li>
                    <li><a href="#">Click here</a> to view already blacklisted members.</li>
                  </ul>
                  <input class="save-btn update-btn" value="Update" type="submit">
                </div>
              </div>
              <div class="setting-row">
                <h5>Promotion</h5>
                <div class="personal-full-with-area">
                  <input class="personal-radio-btn" value="" type="radio">
                  <span class="personal-radio-title"><strong>Active Promotion</strong></span> </div>
                <div class="personal-full-with-area">
                  <ul>
                    <li>Find matching profiles for me and view and like on my behalf </li>
                    <li>Send introduction message when I like a member's profile or media</li>
                    <li>Reply to inbound messages and politely reject members that do not match my criteria</li>
                    <li>Continue to promote my profile to matching profiles for up to one week after I have logged out</li>
                    <li>Best For Hectic Lifestyles</li>
                    <li>Take the time consuming out of online dating. Best when you would like to be exposed to a wide variety of <a href="#">matching profiles</a> and want to find others on the site that will engage with you.</li>
                  </ul>
                </div>
                <div class="personal-full-with-area">
                  <input class="personal-radio-btn" value="" type="radio">
                  <span class="personal-radio-title"><strong>Basic Promotion</strong></span> </div>
                <div class="personal-full-with-area">
                  <ul>
                    <li>Find matching profiles for me and view and like on my behalf</li>
                    <li>Send introduction message when I like a member's profile or media</li>
                    <li>Reply to inbound message and politely reject members that do not match my criteria</li>
                    <li>Only promote my profile to matching profiles when I am logged into the site</li>
                    <li>Best For Slower Paced</li>
                    <li>When you would like the benefits of some promotion but only at times when you logon to the site.</li>
                  </ul>
                </div>
                <div class="personal-full-with-area">
                  <input class="personal-radio-btn" value="" type="radio">
                  <span class="personal-radio-title"><strong>No Promotion</strong></span> </div>
                <div class="personal-full-with-area">
                  <ul>
                    <li>Do not find matching profiles for me and view, like or send introduction messages on my behalf.</li>
                    <li>Do not find matching profiles for me</li>
                    <li>Do not send any introduction messages on my behalf</li>
                  </ul>
                </div>
               
                <div class="personal-full-with-area advance-bottom-text">
                  <input class="personal-radio-btn" value="" type="radio">
                  <span class="personal-radio-title instruction-title"><strong>Please mail me member introductions. Member Introductions are promotional messages marked with this symbol  in your mailbox and have been sent to you and other recipients in accordance with the senders Promotional settings.
                  If you have problems with email delivery to your address from the site, please read the <a href="#">following instructions.</a></strong></span> </div>
                <input class="save-btn update-btn" value="Update" type="submit">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>