<div class="inner-main-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="general-tab-top-outer">
          <ul class="form-tab-1">
            <li [ngClass]="{ 'pages_active': tab === 'tab1' }"><a [routerLink]="" (click)="displayTab('tab1')"><img src="/assets/images/setting-icon.png" alt=""><span>General</span></a></li>
            <li [ngClass]="{ 'pages_active': tab === 'tab2' }"><a [routerLink]="" (click)="displayTab('tab2')"><img src="/assets/images/alert-icon.png" alt=""><span>Alerts</span></a></li>
            <li [ngClass]="{ 'pages_active': tab === 'tab3' }"><a [routerLink]="" (click)="displayTab('tab3')"><img src="/assets/images/advance-icon.png" alt=""><span>Advanced</span></a></li>
          </ul>
        </div>
        <div class="setting-bot-tab-content">
          <div id="tab1" [ngStyle]="{'display': tab === 'tab1' ? 'block' : 'none'}">
            <h4>General Settings</h4>
            <div class="row">
              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="generaltab-left">
                 <app-interests [userObj]="details$"></app-interests>

                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="generaltab-mid">
                  <app-siteconfigure [userObj]="details$"></app-siteconfigure>
                  <app-change-password ></app-change-password>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="generaltab-right">
                 <app-switchaccount [userObj]="details$"></app-switchaccount>
                 <app-deleteaccount [userObj]="details$"></app-deleteaccount>
                </div>
              </div>
            </div>
          </div>
          <div id="tab2" [ngStyle]="{'display': tab === 'tab2' ? 'block' : 'none'}">
           <app-alerts [userObj]="details$"></app-alerts>
          </div>
          <div id="tab3" [ngStyle]="{'display': tab === 'tab3' ? 'block' : 'none'}">
            <h4>Advanced</h4>
            <div class="more-setting-top">
              <app-introduction-message [userObj]="details$"></app-introduction-message>
              <app-profile-protection [userObj]="details$"></app-profile-protection>
            </div>
            <div class="more-setting-outer"><a href="#"><span>Manage More Settings</span> <i class="fa fa-caret-down" aria-hidden="true"></i></a></div>
            <div class="more-setting-bot">
              <div class="setting-row">
                <h5>Instant Messenger</h5>
                <div class="personal-full-with-area">
                  <input class="personal-radio-btn" value="" type="radio">
                  <span class="personal-radio-title"><strong>ON</strong></span>
                  <p class="setting-sml-text">Allows members to contact you whenever online</p>
                </div>
                <div class="personal-full-with-area">
                  <input class="personal-radio-btn" value="" type="radio">
                  <span class="personal-radio-title"><strong>OFF</strong></span>
                  <p class="setting-sml-text">OFF - You cannot be contacted via instant messenger</p>
                </div>
                <input class="save-btn update-btn" value="Update" type="submit">
              </div>
              <div class="setting-row">
                <h5>Auto Reply to Mail Matches</h5>
                <div class="personal-full-with-area">
                  <label>Subject</label>
                  <input type="text" class="advance-input-text" value="">
                </div>
                <div class="personal-full-with-area">
                  <label>Reply Text</label>
                  <textarea class="setting-advance-textarea"></textarea>
                </div>
                <div class="personal-full-with-area">
                  <input class="personal-radio-btn" value="" type="radio">
                  <span class="personal-radio-title"><strong>Enable AutoReply</strong></span> </div>
                <input class="save-btn update-btn" value="Update" type="submit">
              </div>
              <div class="setting-row">
                <h5>Auto Reply to Mail Matches</h5>
                <div class="personal-full-with-area">
                  <label>Subject</label>
                  <input type="text" class="advance-input-text" value="">
                </div>
                <div class="personal-full-with-area">
                  <label>Reply Text</label>
                  <textarea class="setting-advance-textarea"></textarea>
                </div>
                <div class="personal-full-with-area">
                  <input class="personal-radio-btn" value="" type="radio">
                  <span class="personal-radio-title"><strong>Enable AutoReply</strong></span> </div>
                <div class="personal-full-with-area">
                  <h5>Blacklist</h5>
                  <ul>
                    <li>The blacklist feature allows you to block all messages sent by certain members.</li>
                    <li>If you do not wish to receive emails from a member, go to his/her profile view window and click on Add to Blacklist.</li>
                    <li><a href="#">Click here</a> to view already blacklisted members.</li>
                  </ul>
                  <input class="save-btn update-btn" value="Update" type="submit">
                </div>
              </div>
              <div class="setting-row">
                <h5>Promotion</h5>
                <div class="personal-full-with-area">
                  <input class="personal-radio-btn" value="" type="radio">
                  <span class="personal-radio-title"><strong>Active Promotion</strong></span> </div>
                <div class="personal-full-with-area">
                  <ul>
                    <li>Find matching profiles for me and view and like on my behalf </li>
                    <li>Send introduction message when I like a member's profile or media</li>
                    <li>Reply to inbound messages and politely reject members that do not match my criteria</li>
                    <li>Continue to promote my profile to matching profiles for up to one week after I have logged out</li>
                    <li>Best For Hectic Lifestyles</li>
                    <li>Take the time consuming out of online dating. Best when you would like to be exposed to a wide variety of <a href="#">matching profiles</a> and want to find others on the site that will engage with you.</li>
                  </ul>
                </div>
                <div class="personal-full-with-area">
                  <input class="personal-radio-btn" value="" type="radio">
                  <span class="personal-radio-title"><strong>Basic Promotion</strong></span> </div>
                <div class="personal-full-with-area">
                  <ul>
                    <li>Find matching profiles for me and view and like on my behalf</li>
                    <li>Send introduction message when I like a member's profile or media</li>
                    <li>Reply to inbound message and politely reject members that do not match my criteria</li>
                    <li>Only promote my profile to matching profiles when I am logged into the site</li>
                    <li>Best For Slower Paced</li>
                    <li>When you would like the benefits of some promotion but only at times when you logon to the site.</li>
                  </ul>
                </div>
                <div class="personal-full-with-area">
                  <input class="personal-radio-btn" value="" type="radio">
                  <span class="personal-radio-title"><strong>No Promotion</strong></span> </div>
                <div class="personal-full-with-area">
                  <ul>
                    <li>Do not find matching profiles for me and view, like or send introduction messages on my behalf.</li>
                    <li>Do not find matching profiles for me</li>
                    <li>Do not send any introduction messages on my behalf</li>
                  </ul>
                </div>

                <div class="personal-full-with-area advance-bottom-text">
                  <input class="personal-radio-btn" value="" type="radio">
                  <span class="personal-radio-title instruction-title"><strong>Please mail me member introductions. Member Introductions are promotional messages marked with this symbol  in your mailbox and have been sent to you and other recipients in accordance with the senders Promotional settings.
                  If you have problems with email delivery to your address from the site, please read the <a href="#">following instructions.</a></strong></span> </div>
                <input class="save-btn update-btn" value="Update" type="submit">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
