<div class="row landing-row white-landing-row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 landing-row-image landing-row-first-bg"> <img class="landing-row-image-bg" src="/assets/images/landing-first-bg.jpg" alt="">
    <div class="landing-top-logo"><a href="/"><img src="/assets/images/white-logo.png" alt=""></a></div>
    <div class="landing-bot-logo"><a href="#"><img src="/assets/images/landing-sml-logo.png" alt=""></a></div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 landng-row-content-first">
    <div class="signup-sec">
      <ul class="form-tab">
        <li><a href="#signup"><img src="/assets/images/signup-icon.png" alt=""><span>Sign Up</span></a>|</li>
        <li class="pages_active"><a href="#signin"><span>Sign In</span></a> </li>
        <li><a href="#password"  class="forgot">Forgotten details</a></li>
      </ul>
    </div>

    <div id="signup" style="display:none;">
        <div class="top-form"
              [ngStyle]="{'display': isShow ? 'none' : 'block'}"
              >
                <div class="first-div">

                  <h5>Select Your Gender</h5>
                  <div class="alert alert-danger" *ngIf="errorMessage">

                      <strong>{{ errorMessage }}</strong>
                    </div>
                  <div class="signup-outer">
                    <div class="right-form-row gender-btn">
                      <button (click)="getSex('M')"><i class="fa fa-mars"></i> Male</button>
                    </div>
                    <div class="right-form-row gender-btn">
                      <button (click)="getSex('F')"><i class="fa fa-venus"></i> Female</button>
                    </div>
                    <div class="right-form-row gender-btn">
                      <button (click)="getSex('C')"><i class="fa fa-venus-mars"></i> Couple</button>
                    </div>
                    <div class="right-form-row gender-btn">
                      <button (click)="getSex('CTT')">CD/TV/TS</button>
                    </div>
                  </div>



                </div>
                <button class="next form-submit-btn" (click)="nextForm()">Next</button>
                <div class="have-account-sec">
                  <ul class="form-tab">
                    <li class="pages_active"><a href="#signin">Have an account? <span>Click here</span></a></li>
                  </ul>
                </div>
        </div>
        <div class="next-div" [ngStyle]="{'display': isShow ? 'block' : 'none'}">
          <div class="top-form">

            <h5>Sign Up</h5>
            <div class="alert alert-danger" *ngIf="errorMessage">

                <strong>{{ errorMessage }}</strong>
              </div>

              <div class="alert alert-success" *ngIf="successMessage">

                  <strong>{{ successMessage }}</strong>
              </div>
            <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
              <div class="main-form-row">
                <label>Username</label>
                <div class="input-box">
                  <input type="text" class="input-form"
                    formControlName="username" placeholder="Username">
                    <i *ngIf="signupSubmitted && !signup.username.errors && signup.username.valid" class="fa fa-check" aria-hidden="true"></i>
                    <i *ngIf="signupSubmitted && signup.username.errors && signup.username.invalid" class="fa fa-times" aria-hidden="true"></i>
                </div>
                <div *ngIf="signupSubmitted && signup.username.errors" class="invalid-feedback">
                    <span *ngIf="signup.username.errors.required">Username is required</span>
                </div>

              </div>
              <div class="main-form-row">
                <label>Password</label>
                <div class="input-box">
                  <input type="password" class="input-form"
                    placeholder="Password" formControlName="password">
                    <i *ngIf="signupSubmitted && !signup.password.errors && signup.password.valid" class="fa fa-check" aria-hidden="true"></i>
                    <i *ngIf="signupSubmitted && signup.password.errors && signup.password.invalid" class="fa fa-times" aria-hidden="true"></i>
                </div>
                <div *ngIf="signupSubmitted && signup.password.errors" class="invalid-feedback">
                    <span *ngIf="signup.password.errors.required">Password is required</span>
                </div>
              </div>
              <div class="main-form-row">
                <label>Email</label>
                <div class="input-box">
                  <input type="text" class="input-form"
                    placeholder="example@mail.com"
                    formControlName="email"
                    >
                    <i *ngIf="signupSubmitted && !signup.email.errors && signup.email.valid" class="fa fa-check" aria-hidden="true"></i>
                    <i *ngIf="signupSubmitted && signup.email.errors && signup.email.invalid" class="fa fa-times" aria-hidden="true"></i>
                </div>
                <div *ngIf="signupSubmitted && signup.email.errors" class="invalid-feedback">
                    <span *ngIf="signup.email.errors.required">Email is required</span>
                </div>
                <div *ngIf="signupSubmitted && signup.email.errors" class="invalid-feedback">
                    <span *ngIf="signup.email.errors.email">Invalid email</span>
                </div>
              </div>
              <div class="main-form-row">
                <label>Date of Birth(Minimum age require 18 years.)</label>
                

                <div class="personal-detail-sml-box select-box" [ngClass]="{ 'input-box-sml-error': signupSubmitted && signup.MM.errors }">
                  <select formControlName="MM" [(ngModel)]="MM">
                    <option [value]="" disabled>Month</option>
                    <option [value]="m.value" *ngFor="let m of month">{{m.label}}</option>
                  </select>
                </div>
                <div class="personal-detail-sml-box select-box"
                [ngClass]="{ 'input-box-sml-error': signupSubmitted && signup.DD.errors }"
                >
                <select  formControlName="DD" [(ngModel)]="DD">
                  <option [value]="" disabled>Day</option>
                  <option [value]="d.value" *ngFor="let d of day">{{d.label}}</option>
                </select>

                </div>
                <div class="personal-detail-sml-box select-box" [ngClass]="{ 'input-box-sml-error': signupSubmitted && signup.YYYY.errors }">
                  <select formControlName="YYYY" [(ngModel)]="YYYY">
                    <option [value]="" disabled>Year</option>
                    <option [value]="y" *ngFor="let y of year">{{y}}</option>
                  </select>
                </div>
              </div>
              <div class=" signup-creat-btn">
                <!--<input class="form-submit-btn" value="Create Account" type="submit">-->
                <button [disabled]="signupLoading" class="form-submit-btn">Create Account</button>
                <img *ngIf="signupLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              </div>
              <div class="agree-checkbox">
                <input type="checkbox" class="checkbtn-agree" (change)="terms($event)">
                <span>I agree to the <a href="#">terms & conditions</a></span>

              </div>
            </form>
          </div>
        </div>
    </div>
    <app-login></app-login>
    <app-password-reminder></app-password-reminder>
  </div>
</div>
<div class="row landing-row grey-landing-row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-push-6 col-md-push-6 landing-row-image landing-row-second-bg"> <img class="landing-row-image-bg" src="/assets/images/landing-second-bg.jpg" alt=""> <a href="#" class="join-btn back-to-top">Join Us</a> </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-pull-6 col-md-pull-6 landng-row-content-second">
    <ul>
      <li>
        <h5><img src="/assets/images/landing-icon-1.png" alt=""> <span>Is it free?</span></h5>
        <p>It's free to join, meet-up, view media and contact members. We only ask that you become a paying member when you want unrestricted private communication. You can always cancel at any time.</p>
      </li>
      <li>
        <h5><img src="/assets/images/landing-icon-2.png" alt=""> <span>Is it discreet?</span></h5>
        <p>This is a private members site and we're completely discreet. Your personal email and details are not on display. Even your bank statement won't show the Adult Hub on it.</p>
      </li>
      <li>
        <h5><img src="/assets/images/landing-icon-3.png" alt=""> <span>What can I expect?</span></h5>
        <p>You will find a community of people looking to make friends, meet up or simply exchange experiences of a wilder and more adventurous sex life. The site has a strong customer support team who are there to help make your membership fun and safe.</p>
      </li>
     <!-- <li>
        <h5><img src="images/landing-icon-4.png" alt=""> <span>What is a VIP member?</span></h5>
        <p>VIP members are the amazing people who support the site financially through their membership. They can contact whomever they like and have full access to the site.</p>
      </li>-->
      <li>
        <h5><img src="/assets/images/landing-icon-5.png" alt=""> <span>Will you Spam me?</span></h5>
        <p>No. Our email systems are SenderScore certified. We only use your email to notify you of any activity on your profile but you can always opt out.</p>
      </li>
      <li>
        <h5 class="last-heading"><img src="/assets/images/landing-icon-6.png" alt=""> <span>Start today.</span></h5>
        <p>Still not totally sure. <a href="#">Ask our support team</a> any questions that we haven't answered for you.</p>
      </li>
    </ul>
  </div>
</div>
<div class="people-sec">
  <div class="container">
    <h3><i class="fa fa-map-marker" aria-hidden="true"></i> People nearby you</h3>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="people-box">
          <div class="people-img"><img src="/assets/images/bot-profile-image.jpg" alt=""></div>
          <h5>Username</h5>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i>Address City Town</p>
          <p><i class="fa fa-mars"></i>31 Straight</p>
          <p><i class="fa fa-venus"></i> 34 Bi-Cerious</p>
          <h6>Last visit 01:44 Today</h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="people-box">
          <div class="people-img"><img src="/assets/images/bot-profile-image-2.jpg" alt=""></div>
          <h5>Username</h5>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i>Address City Town</p>
          <p><i class="fa fa-mars"></i>31 Straight</p>
          <p><i class="fa fa-venus"></i> 34 Bi-Cerious</p>
          <h6>Last visit 01:44 Today</h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="people-box">
          <div class="people-img"><img src="/assets/images/bot-profile-image-3.jpg" alt=""></div>
          <h5>Username</h5>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i>Address City Town</p>
          <p><i class="fa fa-mars"></i>31 Straight</p>
          <p><i class="fa fa-venus"></i> 34 Bi-Cerious</p>
          <h6>Last visit 01:44 Today</h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="people-box">
          <div class="people-img"><img src="/assets/images/bot-profile-image-4.jpg" alt=""></div>
          <h5>Username</h5>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i>Address City Town</p>
          <p><i class="fa fa-mars"></i>31 Straight</p>
          <p><i class="fa fa-venus"></i> 34 Bi-Cerious</p>
          <h6>Last visit 01:44 Today</h6>
        </div>
      </div>
    </div>
    <div class="bot-btn-sec"> <a href="#" class="back-to-top">Meet Them</a> </div>
  </div>
</div>
<div class="event-sec">
  <div class="container">
    <h3><i class="fa fa-map-marker" aria-hidden="true"></i> Events near your location</h3>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="event-left">
          <ul>
            <li>
              <div class="event-img"><img src="/assets/images/event-pic-1.jpg" alt=""></div>
              <div class="event-text">
                <p><strong>20 March<br>
                  Orgy Pool Party</strong></p>
                <p>Parañaque, Rizal, Philippines (Los banos, Laguna)</p>
              </div>
            </li>
            <li>
              <div class="event-img"><img src="/assets/images/event-pic-2.jpg" alt=""></div>
              <div class="event-text">
                <p><strong>20 March<br>
                  Orgy Pool Party</strong></p>
                <p>Parañaque, Rizal, Philippines (Los banos, Laguna)</p>
              </div>
            </li>
            <li>
              <div class="event-img"><img src="/assets/images/event-pic-3.jpg" alt=""></div>
              <div class="event-text">
                <p><strong>20 March<br>
                  Orgy Pool Party</strong></p>
                <p>Parañaque, Rizal, Philippines (Los banos, Laguna)</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="event-right">
          <ul>
            <li>
              <div class="event-img"><img src="/assets/images/event-pic-4.jpg" alt=""></div>
              <div class="event-text">
                <p><strong>20 March<br>
                  Orgy Pool Party</strong></p>
                <p>Parañaque, Rizal, Philippines (Los banos, Laguna)</p>
              </div>
            </li>
            <li>
              <div class="event-img"><img src="/assets/images/event-pic-5.jpg" alt=""></div>
              <div class="event-text">
                <p><strong>20 March<br>
                  Orgy Pool Party</strong></p>
                <p>Parañaque, Rizal, Philippines (Los banos, Laguna)</p>
              </div>
            </li>
            <li>
              <div class="event-img"><img src="/assets/images/event-pic-6.jpg" alt=""></div>
              <div class="event-text">
                <p><strong>20 March<br>
                  Orgy Pool Party</strong></p>
                <p>Parañaque, Rizal, Philippines (Los banos, Laguna)</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bot-btn-sec"> <a href="#" class="back-to-top">Join Us</a> </div>
  </div>
</div>
